<%- include('layout'); -%>

<head>
    <title>New Waste Life</title>
    <script type="text/javascript">
     $( document ).ready(function() {
            setModalReject();
    });

    function addressValidation(){
        var location = '<%= adAuthorPostalCode %>';
                console.log("location: " + location);
                axios.get('https://maps.googleapis.com/maps/api/geocode/json',{
                    params:{
                        address:location,
                        key:'AIzaSyDKzgkeYgTfLIGnpd7SqbXjz2K-5X45rFY'
                    }
                }).then(function(response){
                console.log(response);
                if(response.data.results.length == 0){
                    document.getElementsById("position")[0].setAttribute("disabled"); 
                    //alert("Impossible d'afficher la carte. L'adresse est invalide!");
                }
            }).catch(function(error){
                console.log(error);
            })
    }
        function init(){
                var location = '<%= adAuthorPostalCode %>';
                //console.log("location: " + location);
                axios.get('https://maps.googleapis.com/maps/api/geocode/json',{
                    params:{
                        address:location,
                        key:'AIzaSyDKzgkeYgTfLIGnpd7SqbXjz2K-5X45rFY'
                    }
                }).then(function(response){
                //console.log(response);
        
                   lat = response.data.results[0].geometry.location.lat;
                   lng = response.data.results[0].geometry.location.lng
                   initializeGMap(lat, lng);

                
                   
                $("#location-map").css("width", "100%");
                $("#map_canvas").css("width", "100%");

                }).catch(function(error){
                    console.log(error);
                })
            }

        function setModalReject(){
            document.getElementsByClassName("app-container")[0].innerHTML += '<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"><div class="modal-dialog modal-dialog-centered modal-lg" role="document"><div class="modal-content"><div class="modal-header"><button type="button" class="close text-danger" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button><h4 class="modal-title" id="myModalLabel"></h4></div><div class="modal-body"><div class="row"><div class="col-md-12 modal_body_content"></div></div><div class="row"><div class="col-md-12 modal_body_map"><div class="location-map" id="location-map"><div style="width: 600px; height: 400px;" id="map_canvas"></div></div></div></div><div class="row"><div class="col-md-12 modal_body_end"></div></div></div></div></div></div>'
        }
        
        function favorite() {
            $("#btn-fav-ad").addClass("animated bounceIn");
            $("#btn-fav-ad").addClass("favourite");
            $("#btn-fav-ad .pe-7s-like").addClass("d-none");
            $("#btn-fav-ad .fas").removeClass("d-none");
            $("#btn-fav-ad").attr("data-original-title", "Retirer des coups de coeur");
            setTimeout(function () {
                $("#btn-fav-ad").removeClass("animated bounceIn");
            }, 1000);
        }

        function unfavorite() {
            $("#btn-fav-ad").addClass("animated bounceIn");
            $("#btn-fav-ad").removeClass("favourite");
            $("#btn-fav-ad .pe-7s-like").removeClass("d-none");
            $("#btn-fav-ad .fas").addClass("d-none");
            $("#btn-fav-ad").attr("data-original-title", "Ajouter aux coups de coeur");
            setTimeout(function () {
                $("#btn-fav-ad").removeClass("animated bounceIn");
            }, 1000);
        }

        $(document).ready(function () {
            
            if ( <%= favorite %> )
                favorite();
            else
                unfavorite();

            $("#btn-fav-ad").click(function () {
                if ($("#btn-fav-ad").hasClass("favourite")) {
                    const data = {
                        annonce: "<%= adId %>"
                    }

                    $.ajax({
                        method: 'delete',
                        url: '/favorite',
                        data: data
                    }).done(function (data) {
                        if (data.error) {
                            location.href = data.error;
                        } else {
                            unfavorite();
                        }

                    }).fail(function () {
                        alert("Oups! Un problème est survenu. Réessayez plus tard!");
                    })
                } else {
                    const data = {
                        annonce: "<%= adId %>"
                    }

                    $.ajax({
                        method: 'post',
                        url: '/favorite',
                        data: data
                    }).done(function (data) {
                        if (data.error) {
                            location.href = data.error;
                        } else {
                            favorite();
                        }

                    }).fail(function () {
                        alert("Oups! Un problème est survenu. Réessayez plus tard!");
                    });
                }
            });

            $('#formContactSeller').on('submit', (event) => {
                event.preventDefault();
                const data = $('#formContactSeller').serialize();
                const url = '/contact/ad/' + '<%= adId %>';
                console.log(data);

                $.ajax({
                    method: 'post',
                    url: url,
                    data: data,
                    contentType: 'application/x-www-form-urlencoded',
                    success: function (data) {
                        if (data.messageType == "inputs") {

                        } else if (data.messageType === "error") {
                            display_failed(data);
                            setTimeout(function () {
                                remove_failed();
                            }, 2000);
                        } else if (data.messageType === "success") {
                            display_success(data);
                            setTimeout(function () {
                                remove_success();
                            }, 2000);
                        }
                    },
                    error: function () {
                        alert("Oups! Un problème est survenu. Réessayez plus tard!");
                    }
                })
            });

            function display_success(data) {
                $('#formContactSeller').addClass("d-none");
                $('.success-checkmark').removeClass("d-none");
                $('#pageMessage').removeClass("d-none");
                $('#pageMessage').addClass("text-success");
                $('#pageMessage').html(data.message);
            }

            function remove_success() {
                $('#formContactSeller').removeClass("d-none");
                $('.success-checkmark').addClass("d-none");
                $('#pageMessage').addClass("d-none");
                $('#pageMessage').removeClass("text-success");
                $('#pageMessage').html("");
            }

            function display_failed(data) {
                $('#formContactSeller').addClass("d-none");
                $('.error-mark').removeClass("d-none");
                $('#pageMessage').removeClass("d-none");
                $('#pageMessage').addClass("text-danger");
                $('#pageMessage').html(data.message);
            }

            function remove_failed() {
                $('#formContactSeller').removeClass("d-none");
                $('.error-mark').addClass("d-none");
                $('#pageMessage').addClass("d-none");
                $('#pageMessage').removeClass("text-danger");
                $('#pageMessage').html("");
            }
        });
    </script>
</head>
<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title bg-antique-white">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-news-paper icon-gradient bg-ripe-malin">
                        </i>
                    </div>
                    <div><%= adTitle.substring(0, 1).toUpperCase() %><%= adTitle.substring(1).toUpperCase() %></div>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane tabs-animation fade show active" id="tab-content-1" role="tabpanel">
                <div class="row">
                    <div class="col-md-2 col-xl-2"></div>
                    <div class="col-md-5 col-xl-5 p-0">
                        <div class="main-card mb-3 mt-3 card card-shadow-focus card-ad-details">
                            <div class="card-header card-header-ad-details p-0">
                                <div class="row w-100 m-0 row-ad-infos">
                                    <div class="col-md-2 col-lg-2 col-xl-1 col-favourite">
                                        <div id="btn-fav-ad-container">
                                            <button id="btn-fav-ad" class="text-center" data-toggle="tooltip"
                                                    data-placement="bottom" title="">
                                                <i class="pe-7s-like"></i>
                                                <i class="fas fa-heart d-none"></i>
                                            </button>
                                            

                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-xl-3 col-price text-center">
                                        <h5 class="font-weight-bold"><%= adPrice %> $</h5>
                                    </div>
                                    <div class="col-md-6 col-lg-6 col-xl-8 col-title">
                                        <div class="text-left">
                                            <h5><%= adTitle.substring(0, 1).toUpperCase() %><%= adTitle.substring(1).toUpperCase() %>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body pb-0 pl-0 pr-0">
                                <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-10">
                                        <div id="carouselAd" class="carousel slide" data-ride="carousel">
                                            <% if(adPhotos.length > 1) { %>
                                                <ol class="carousel-indicators">
                                                    <% for(var i=0; i < adPhotos.length; i++) { %>
                                                    <% if(i == 0) { %>
                                                    <li data-target="#carouselAd" data-slide-to="<%= i %>" class="active">
                                                    </li>
                                                    <% } else { %>
                                                    <li data-target="#carouselAd" data-slide-to="<%= i %>"></li>
                                                    <% } %>
                                                    <% } %>
                                                </ol>
                                            <% } %>
                                            <div class="carousel-inner mx-auto carousel-ad bg-light">
                                                <% if(adPhotos.length == 0) { %>
                                                    <div class="carousel-item active">
                                                        <img class="d-block mx-auto no-photos-ad"
                                                             src="/images/no-photos.png" alt="No Photos" width="140">
                                                    </div>
                                                <% } %>
                                                <% if(adPhotos.length > 0) { %>
                                                    <div class="carousel-item active">
                                                        <img class="d-block w-100" src="/uploads/<%= adPhotos[0] %>"
                                                             alt="First slide" height="350">
                                                    </div>
                                                <% } %>
                                                <% if(adPhotos.length > 1) { %>
                                                    <div class="carousel-item">
                                                        <img class="d-block w-100" src="/uploads/<%= adPhotos[1] %>"
                                                             alt="Second slide" height="350">
                                                    </div>
                                                <% } %>
                                                <% if(adPhotos.length > 2) { %>
                                                    <div class="carousel-item">
                                                        <img class="d-block w-100" src="/uploads/<%= adPhotos[2] %>"
                                                             alt="Third slide" height="350">
                                                    </div>
                                                <% } %>
                                            </div>
                                            <% if(adPhotos.length > 1) { %>
                                                <a class="carousel-control-prev" href="#carouselAd" role="button"
                                                   data-slide="prev">
                                                    <span class="carousel-control-prev-icon mr-4" aria-hidden="true"></span>
                                                    <span class="sr-only">Précédente</span>
                                                </a>
                                                <a class="carousel-control-next" href="#carouselAd" role="button"
                                                   data-slide="next">
                                                    <span class="carousel-control-next-icon ml-4" aria-hidden="true"></span>
                                                    <span class="sr-only">Suivante</span>
                                                </a>
                                            <% } %>
                                        </div>
                                        <div class="divider"></div>
                                        <a class="font-weight-bold"><u>Description : </u></a>
                                        <div class="scroll-area-md scroll-area-ad-details">
                                            <div class="scrollbar-container ps--active-y ps">
                                                <p class="mt-3"><%= adDescription %></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1"></div>
                                </div>
                                <div class="card-footer card-footer-ad-details text-muted font-weight-bold"
                                     style="max-height: 40px;">
                                    <span class="float-left w-100">#<%= adId.toUpperCase(); %></span>
                                    <span class="float-right w-100 text-right"><%= adDate %></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xl-3 p-0">
                        <div class="main-card card mb-3 mt-3 card-shadow-focus card-seller">
                            <div class="card-header profile-card-header card-header-ad-seller pr-0">
                                <div class="profile-card pr-0 pl-0">
                                    <div class="row w-100 mr-0 ml-0">
                                        <div class="col-md-2 col-lg-2 col-xl-2 p-0">
                                            <div class="profile-card-avatar mr-3"
                                                 onclick="location.href='/user/<%= adAuthorName %>';">
                                                <div class="avatar-rounded">
                                                    <i class="pe-7s-user icon-gradient bg-malibu-beach"
                                                       style="font-size: 3.5rem;"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-7 col-lg-7 col-xl-7 p-0">
                                            <div class="profile-card-infos text-focus pt-3 pb-3">
                                                <h5 class="float-left w-100 mb-0 pl-3 btn-link"
                                                    onclick="location.href='/user/<%= adAuthorName %>';">
                                                    <%= adAuthorName.substring(0, 1).toUpperCase(); %><%= adAuthorName.substring(1); %>
                                                </h5>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-xl-3 p-0"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body profile-card-body bg-light">
                                <div id="infosSeller">
                                    <ul class="list-group list-group-flush" id="profileSeller">
                                        <li class="p-0 list-group-item">
                                            <div class="grid-menu grid-menu-2col">
                                                <div class="no-gutters row">
                                                    <div class="col-sm-6 profile-card-border-rb">
                                                        <div class="p-2">
                                                            <button onclick="location.href='/user/<%= adAuthorName %>';"
                                                                    class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-warning">
                                                                <i class="pe-7s-note2 text-warning opacity-7 btn-icon-wrapper mb-2"> </i>Annonces
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 profile-card-border-b">
                                                        <div class="p-2">
                                                            <button onclick="location.href='/user/<%= adAuthorName %>';"
                                                                    class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-info">
                                                                <i class="pe-7s-display2 text-info opacity-7 btn-icon-wrapper mb-2"> </i>Profil
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 profile-card-border-r">
                                                        <div class="p-2">
                                                            <button id="position" onclick="addressValidation()"      
                                                                    class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-success" data-toggle="modal" data-target="#myModal">
                                                                <i class="pe-7s-map-2 text-success opacity-7 btn-icon-wrapper mb-2">
                                                                </i>Position
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="p-2">
                                                            <button
                                                                    class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-danger">
                                                                <i class="pe-7s-attention text-danger opacity-7 btn-icon-wrapper mb-2">
                                                                </i>Signaler
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="success-checkmark mt-5 d-none">
                                        <div class="check-icon ">
                                            <span class="icon-line line-tip"></span>
                                            <span class="icon-line line-long"></span>
                                            <div class="icon-circle"></div>
                                            <div class="icon-fix"></div>
                                        </div>
                                    </div>
                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2"
                                         class="error-mark mt-5 d-none">
                                        <circle class="path circle" fill="none" stroke="#D06079" stroke-width="4" stroke-miterlimit="10"
                                                cx="65.1" cy="65.1" r="62.1" />
                                        <line class="path line" fill="none" stroke="#D06079" stroke-width="4" stroke-linecap="round"
                                              stroke-miterlimit="10" x1="34.4" y1="37.9" x2="95.8" y2="92.3" />
                                        <line class="path line" fill="none" stroke="#D06079" stroke-width="4" stroke-linecap="round"
                                              stroke-miterlimit="10" x1="95.8" y1="38" x2="34.4" y2="92.2" />
                                    </svg>
                                    <h4 class="text-center d-none" id="pageMessage"></h4>
                                    <form action="/contact/ad/<%= adId %>" method="post" class="mt-3" id="formContactSeller"
                                          enctype="multipart/form-data">
                                        <h6 class="pt-2 text-center"><u>Des questions ? Contactez le vendeur : </u></h6>
                                        <div class="form-row mt-5 form-inline">
                                            <div class="col-md-2"></div>
                                            <div class="col-md-8">
                                                <div class="position-relative form-group">
                                                    <label for="name" class="required mr-sm-2"> </label>
                                                    <input name="name" id="inp-name" type="text" class="form-control"
                                                           required="required" <% if (locals.user) { %>
                                                           value="<%= user.firstname %> <%= user.lastname %>" <% } %>
                                                           placeholder="Nom">
                                                </div>
                                            </div>
                                            <div class="col-md-2"></div>
                                        </div>
                                        <div class="form-row mt-5 form-inline">
                                            <div class="col-md-1"></div>
                                            <div class="col-md-10">
                                                <div class="position-relative form-group">
                                                    <label for="email" class="required mr-sm-2"></label>
                                                    <input name="courriel" id="inp-email" type="email" class="form-control"
                                                           required="required" <% if (locals.user) { %> value="<%= user.courriel %>"
                                                           <% } %>
                                                           placeholder="Courriel">
                                                </div>
                                            </div>
                                            <div class="col-md-1"></div>
                                        </div>
                                        <div class="form-row mt-5 form-inline">
                                            <div class="col-md-1"></div>
                                            <div class="col-md-10 mb-3 ">
                                                <div class="position-relative form-group">
                                                    <label for="message" class="required mr-sm-2"></label>
                                                    <textarea name="message" class="form-control" required="required"
                                                              id="text-area-message" placeholder="Message"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-md-1"></div>
                                            <input class="mb-2 mr-2 btn btn-focus btn-center text-warning" type="submit"
                                                   value="Contacter">
                                        </div>
                                    </form>
                                </div>

                                <% if(user && acheter == user.username){ %>
                                    <div class="modal-content">
                                        <form id="formCompleteAd_<%= adId %>" action="/ratingAchat/<%= adId %>" method="get"
                                              enctype="multipart/form-data">
                                            <div class="modal-footer text-center"> 
                                                <input type="submit"
                                                       class="btn btn-success btn-center float-right"
                                                       value="Noter et terminer la transaction" /> </div>
                                        </form>
                                    </div>
                                <% } %>
                            </div>
                            <div class="card-footer card-footer-ad-seller">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-xl-2"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDKzgkeYgTfLIGnpd7SqbXjz2K-5X45rFY&callback=init" 
                async defer></script>
<script src="/js/map.js"></script>
<%- include('footer'); -%>