<% results.forEach(function(result){%>
    <% if(!result.verif) { %>
    <div class="card-shadow-focus mb-1 card card-body card-body-ad">
        <div class="row">
            <div class="col-md-2 col-xl-2 card card-img-ad"
                 onclick="location.href='/ad/<%= result._id %>';">
                <% if(result.photos.length > 0) { %>
                    <img class="img-ad-home" src="/uploads/<%= result.photos[0] %>"
                         alt="Image Principale" />
                <% } else { %>
                    <img class="img-ad-home" src="/images/input-file-photo.png"
                         alt="Image Principale" />
                <% } %>
            </div>
            <div class="col-md-10 col-xl-10">
                <div class="card-header d-block">
                    <h5 class="float-left mt-3 text-truncate w-75"
                        onclick="location.href='/ad/<%= result._id %>';">
                        <%= result.title %></h5>
                    <% if (locals.user) { %>
                        <div class="btn-actions-pane-right actions-icon-btn">
                            <button type="button"
                                    class="btn-icon btn btn-link btn-sm float-right rounded-pill mt-3 text-success"
                                    onclick="">
                                                        <span class="btn-icon-wrapper">
                                                            <% if(user.favorites.includes(result._id)) { %>
                                                                <i id="<%= result._id %>" class="fas fa-heart"></i>
                                                            <% } else { %>
                                                                <i id="<%= result._id %>" class="pe-7s-like"></i>
                                                            <% } %>
                                                        </span>
                            </button>
                        </div>
                    <% } %>
                </div>
                <div class="card-footer d-block"
                     onclick="location.href='/ad/<%= result._id %>';">
                    <a class="float-left font-weight-bold"><%= result.price %> $</a>
                    <div class="float-right mb-2 mr-2 badge badge-pill badge-focus">
                        <%= result.date.toLocaleDateString('en-US') %></div>
                </div>
            </div>
        </div>
    </div>
    <% } %>
<% }) %>