<%- include('layout', {user: locals.user}) -%>

<head>
    <title>New Waste Life - Biens</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/pikaday/css/pikaday.css">
    <script type="text/javascript">
        function filterAjaxDateAsc(button) {
            if ($(button).hasClass('set')) {
                $(button).removeClass('set');
                $(button).removeClass('bg-custom-green');
                $(button).removeClass('text-focus');
                $(button).removeClass('font-weight-bold');

                $.ajax({
                    url: '/allAds/Bien',
                    type: 'POST',
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (response) {
                        var html = response.my_html;
                        $('#cardBodyBiens').html(html);
                    }
                });
            } else {
                $(button).addClass('set');
                $(button).addClass('bg-custom-green');
                $(button).addClass('text-focus');
                $(button).addClass('font-weight-bold');
                $('#dateButtonDesc').removeClass('set');
                $('#dateButtonDesc').removeClass('bg-custom-green');
                $('#dateButtonDesc').addClass('bg-white');
                $('#dateButtonDesc').removeClass('font-weight-bold');

                $.ajax({
                    url: '/sortDateAsc/Bien',
                    type: 'POST',
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (response) {
                        var html = response.my_html;
                        $('#cardBodyBiens').html(html);
                    }
                });
            }
        }

        function filterAjaxDateDesc(button) {
            if ($(button).hasClass('set')) {
                $(button).removeClass('set');
                $(button).removeClass('bg-custom-green');
                $(button).removeClass('text-focus');
                $(button).removeClass('font-weight-bold');

                $.ajax({
                    url: '/allAds/Bien',
                    type: 'POST',
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (response) {
                        var html = response.my_html;
                        $('#cardBodyBiens').html(html);
                    }
                });
            } else {
                $(button).addClass('set');
                $(button).addClass('bg-custom-green');
                $(button).addClass('text-focus');
                $(button).addClass('font-weight-bold');
                $('#dateButtonAsc').removeClass('set');
                $('#dateButtonAsc').removeClass('bg-custom-green');
                $('#dateButtonAsc').addClass('bg-white');
                $('#dateButtonAsc').removeClass('font-weight-bold');

                $.ajax({
                    url: '/sortDateDesc/Bien',
                    type: 'POST',
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (response) {
                        var html = response.my_html;
                        $('#cardBodyBiens').html(html);
                    }
                });
            }
        }

        function filterAjaxAvecPhotos(button) {
            if ($(button).hasClass('set')) {
                $(button).removeClass('set');
                $(button).removeClass('bg-custom-green');
                $(button).removeClass('text-focus');
                $(button).removeClass('font-weight-bold');

                $.ajax({
                    url: '/allAds/Bien',
                    type: 'POST',
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (response) {
                        var html = response.my_html;
                        $('#cardBodyBiens').html(html);
                    }
                });
            } else {
                $(button).addClass('set');
                $(button).addClass('bg-custom-green');
                $(button).addClass('text-focus');
                $(button).addClass('font-weight-bold');
                $('#filterSansPhotos').removeClass('set');
                $('#filterSansPhotos').removeClass('bg-custom-green');
                $('#filterSansPhotos').addClass('bg-white');
                $('#filterSansPhotos').removeClass('font-weight-bold');

                $.ajax({
                    url: '/sortPhotos/Bien',
                    type: 'POST',
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (response) {
                        var html = response.my_html;
                        $('#cardBodyBiens').html(html);
                    }
                });
            }
        }

        function filterAjaxSansPhotos(button){
            if($(button).hasClass('set')){
                $(button).removeClass('set');
                $(button).removeClass('bg-custom-green');
                $(button).removeClass('text-focus');
                $(button).removeClass('font-weight-bold');

                $.ajax({
                    url: '/allAds/Bien',
                    type: 'POST',
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (response) {
                        var html = response.my_html;
                        $('#cardBodyBiens').html(html);
                    }
                });
            } else {
                $(button).addClass('set');
                $(button).addClass('bg-custom-green');
                $(button).addClass('text-focus');
                $(button).addClass('font-weight-bold');
                $('#filterAvecPhotos').removeClass('set');
                $('#filterAvecPhotos').removeClass('bg-custom-green');
                $('#filterAvecPhotos').addClass('bg-white');
                $('#filterAvecPhotos').removeClass('font-weight-bold');

                $.ajax({
                    url: '/sortNoPhotos/Bien',
                    type: 'POST',
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (response) {
                        var html = response.my_html;
                        $('#cardBodyBiens').html(html);
                    }
                });
            }
        }
    </script>

</head>
<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title bg-antique-white">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-joy icon-gradient bg-ripe-malin">
                        </i>
                    </div>
                    <div>Biens</div>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane tabs-animation fade show active" id="tab-content-1" role="tabpanel">
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-10">
                        <div class="card mb-3">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="position-relative p-3">
                                        <h6 class="font-weight-bold text-center">Prix</h6>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span
                                                    class="input-group-text br-25 bg-focus text-light border-focus">$</span>
                                            </div>
                                            <input id="filterPriceMin" type="number"
                                                class="form-control br-25 border-focus p" min="0" value="0">
                                            <input id="filterPriceMax" type="number"
                                                class="form-control br-25 border-focus" min="0" placeholder="Max">
                                            <div class="input-group-prepend">
                                                <button onclick="sendPrice()"
                                                    class="btn btn-focus text-warning btn-center pb-1 pr-3"
                                                    id="searchPrice"><i
                                                        class="pe-7s-search filter-price-search"></i></button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <form action="/filter/type" method="POST">
                                        <div class="position-relative p-3 text-center">
                                            <h6 class="font-weight-bold text-center">Photos</h6>
                                            <div role="group" class="btn-group" data-toggle="buttons" id="filterPhotos">
                                                <button class="btn btn-outline-focus pb-2 pt-2 br-25" id="filterAvecPhotos" onclick="filterAjaxAvecPhotos(this);">
                                                    Avec Photos
                                                </button>
                                                <button class="btn btn-outline-focus pb-2 pt-2 br-25" id="filterSansPhotos" onclick="filterAjaxSansPhotos(this);">
                                                    Sans Photos
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-lg-4">
                                    <div class="position-relative p-3">
                                        <h6 class="font-weight-bold text-center">Date de publication</h6>
                                        <div class="input-group">
                                            <div class="input-group-prepend" id="filterDatePrepend"
                                                 data-toggle="tooltip" data-placement="bottom" title=""
                                                 data-original-title="Choisir une date">
                                                <span class="input-group-text bg-focus br-25 text-light border-focus"><i
                                                            class="pe-7s-date"></i></span>
                                            </div>
                                            <input name="filterDate" id="filterDate"
                                                   class="form-control border-focus d-none" onfocus="picker.show();">
                                            <button id="dateButtonAsc"
                                                    class="form-control br-25 border-focus btn btn-outline-focus" onclick="filterAjaxDateAsc(this);">+
                                                Récente</button>
                                            <button id="dateButtonDesc"
                                                    class="form-control br-25 border-focus btn btn-outline-focus" onclick="filterAjaxDateDesc(this);">-
                                                Récente</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1"></div>
                </div>

                <div class="row">
                    <!-- Contenu de la page -->
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <div class="main-card mb-3 card">
                            <div class="card-body" id="cardBodyBiens">
                                <% annoncesBiens.forEach(function(annonceBien){%>
                                    <% if(!annonceBien.verif) { %>
                                    <div class="card-shadow-focus mb-1 card card-body card-body-ad">
                                        <div class="row">
                                            <div class="col-md-2 col-xl-2 card card-img-ad"
                                                 onclick="location.href='/ad/<%= annonceBien._id %>';">
                                                <% if(annonceBien.photos.length > 0) { %>
                                                    <img class="img-ad-home" src="/uploads/<%= annonceBien.photos[0] %>"
                                                         alt="Image Principale" />
                                                <% } else { %>
                                                    <img class="img-ad-home" src="/images/input-file-photo.png"
                                                         alt="Image Principale" />
                                                <% } %>
                                            </div>
                                            <div class="col-md-10 col-xl-10">
                                                <div class="card-header d-block">
                                                    <h5 class="float-left mt-3 text-truncate w-75"
                                                        onclick="location.href='/ad/<%= annonceBien._id %>';">
                                                        <%= annonceBien.title %></h5>
                                                    <% if (locals.user) { %>
                                                        <div class="btn-actions-pane-right actions-icon-btn">
                                                            <button type="button"
                                                                    class="btn-icon btn btn-link btn-sm float-right rounded-pill mt-3 text-success"
                                                                    onclick="">
                                                        <span class="btn-icon-wrapper">
                                                            <% if(user.favorites.includes(annonceBien._id)) { %>
                                                                <i id="<%= annonceBien._id %>" class="fas fa-heart"></i>
                                                            <% } else { %>
                                                                <i id="<%= annonceBien._id %>" class="pe-7s-like"></i>
                                                            <% } %>
                                                        </span>
                                                            </button>
                                                        </div>
                                                    <% } %>
                                                </div>
                                                <div class="card-footer d-block"
                                                     onclick="location.href='/ad/<%= annonceBien._id %>';">
                                                    <a class="float-left font-weight-bold"><%= annonceBien.price %> $</a>
                                                    <div class="float-right mb-2 mr-2 badge badge-pill badge-focus">
                                                        <%= annonceBien.date.toLocaleDateString('en-US') %></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <% } %>
                                <% }) %>
                            </div>
                            <div class="card-footer">
                                <button onclick="location.href='/biens2';"
                                        class="btn btn-outline-info btn-center rounded-pill">Précédent</button><button
                                        onclick="location.href='/biens2';"
                                        class="btn btn-outline-info btn-center rounded-pill">Suivant</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--- Tiny Date Picker https://github.com/Pikaday/Pikaday -->
<script src="https://cdn.jsdelivr.net/npm/pikaday/pikaday.js"></script>
<script src="/scripts/moment.js"></script>
<script>
    var picker = new Pikaday({
        field: document.getElementById('filterDate'),
        trigger: document.getElementById('filterDatePrepend'),
        theme: 'dark-theme',
        i18n: {
            previousMonth: 'Mois Précédent',
            nextMonth: 'Mois Suivant',
            months: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet',
                'Août', 'Septembre', 'Octobre', 'Novembre', 'Decembre'
            ],
            weekdays: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
            weekdaysShort: ['Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam']
        },
        toString(date) {
            const day = date.getDate();
            const month = date.getMonth() + 1;
            const year = date.getFullYear();
            return `${day}/${month}/${year}`;
        },
        onSelect: function () {
            $('#filterDate').removeClass('d-none');
            $('#filterDate').removeClass('bounceOut');
            $('#filterDate').addClass('animated');
            $('#filterDate').addClass('bounceIn');
            $('#filterDatePrepend span i').addClass('far fa-times-circle');
            $('#filterDatePrepend span i').removeClass('pe-7s-date');
            $('#filterDatePrepend').attr('data-original-title', 'Retirer la date');
            $('#filterDatePrepend').removeAttr('onclick');
            $('#filterDatePrepend').addClass('set');
            $('#filterDate').val(this.toString(this.getDate()));
            this.config().trigger = document.getElementById('filterDate');
            console.log(this.toString(this.getDate()));

            $('#filterDatePrepend.set').click(function () {
                $('#filterDate').toggleClass('bounceIn bounceOut');
                setTimeout(function () {
                    $('#filterDate').addClass('d-none');
                }, 600);
                $('#filterDatePrepend').removeClass('set');
                $('#filterDatePrepend span i').removeClass('far fa-times-circle');
                $('#filterDatePrepend span i').addClass('pe-7s-date');
                $('#filterDatePrepend').attr('data-original-title', 'Choisir une date');
                $('#filterDatePrepend').attr('onclick', 'picker.show();');
                picker.hide();
                changeTriggerPicker();


            });
        }
    });

    function changeTriggerPicker() {
        picker.config().trigger = document.getElementById('filterDatePrepend');
    }


    function sendPrice() {
        $.ajax({
            url: '/sortPrice/Bien_'+$('#filterPriceMin').val()+'_'+$('#filterPriceMax').val(),
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json',
            success: function (response) {
                var html = response.my_html;
                $('#cardBodyBiens').html(html);
            }
        });
    }
</script>
<%- include('footer'); -%>