<%- include('layout'); -%>

<head>
    <title>Confirmation</title>
</head>
<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title bg-antique-white">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-display2 icon-gradient bg-ripe-malin">
                        </i>
                    </div>
                    <div>Confirmation</div>
                </div>
            </div>
        </div>

        <div class="tab-content">
            <div class="tab-pane tabs-animation fade show active" id="tab-content-1" role="tabpanel">
                <div class="row">
                    <div class="col-md-3 col-xl-3"></div>
                    <div class="col-md-6 col-xl-6 mt-5">
                        <!--                        <h4 class="text-center"><u>Veuillez remplir les informations suivantes :</u></h4>-->
                        <div class="main-card mb-3 mt-5 card card-confirmation">
                            <div class="card-body">                                                             
                                <% if (locals.status == "success") { %>
                                <div class="success-checkmark">
                                    <div class="check-icon ">
                                        <span class="icon-line line-tip"></span>
                                        <span class="icon-line line-long"></span>
                                        <div class="icon-circle"></div>
                                        <div class="icon-fix"></div>
                                    </div>
                                </div>
                                <% } else if (locals.status == "failed") { %> 
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2" class="error-mark ">
                                    <circle class="path circle" fill="none" stroke="#D06079" stroke-width="4" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"/>
                                    <line class="path line" fill="none" stroke="#D06079" stroke-width="4" stroke-linecap="round" stroke-miterlimit="10" x1="34.4" y1="37.9" x2="95.8" y2="92.3"/>
                                    <line class="path line" fill="none" stroke="#D06079" stroke-width="4" stroke-linecap="round" stroke-miterlimit="10" x1="95.8" y1="38" x2="34.4" y2="92.2"/>
                                </svg>
                                <% } else { %>
                                <a class="text-danger">TODO ERROR</a>
                                <% } %>


                                <% if (locals.confirmation == "register" && locals.status == "success") { %>  
                                    <h4 class="text-center">Inscription complété avec succés !</h4>
                                    <h4 class="text-center">Un courriel de confirmation vous a été envoyé.</h4>
                                    <div class="divider"></div>
                                    <button onclick="location.href='/profile';" class="mt-2 btn btn-focus btn-center text-warning">Continuer</button>
                                <% } else if (locals.confirmation == "register" && locals.status == "failed") { %> 
                                    <h4 class="text-center">Ouups ! Il y a eu un problème !</h4>
                                    <h4 class="text-center">Veuillez réessayer de vous inscrire.</h4>
                                    <h4 class="text-center">Si le problème persiste, veuillez nous contacter.</h4>
                                    <div class="divider"></div>
                                    <button onclick="location.href='/register';" class="mt-2 btn btn-focus btn-center text-warning">S'inscrire</button>
                                <% } else if (locals.confirmation == "newAd" && locals.status == "success") { %> 
                                    <h4 class="text-center">Ajout de votre annonce validé !</h4>
                                    <h4 class="text-center">Elle sera en ligne d'ici peu de temps.</h4>
                                    <div class="divider"></div>
                                    <button onclick="location.href='/profile';"class="mt-2 btn btn-focus btn-center text-warning">Mes annonces</button>
                                <% } else if (locals.confirmation == "newAd" && locals.status == "failed") { %> 
                                    <h4 class="text-center">Ouups ! Il y a eu un problème !</h4>
                                    <h4 class="text-center">Veuillez réessayer d'ajouter votre annonce.</h4>
                                    <h4 class="text-center">Si le problème persiste, veuillez nous contacter.</h4>
                                    <div class="divider"></div>
                                    <button onclick="location.href='/create-ad';"class="mt-2 btn btn-focus btn-center text-warning">Ajouter une annonce</button>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xl-3">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('footer'); -%>
