<%- include('layout'); -%>
<head>
    <title>Créer une annonce</title>
    <script type="text/javascript" src="/js/create-ad.js"></script>
</head>
<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title bg-antique-white">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-news-paper icon-gradient bg-ripe-malin">
                        </i>
                    </div>
                    <div>Créer une annonce</div>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane tabs-animation fade show active" id="tab-content-1" role="tabpanel">
                <div class="row">
                    <div class="col-md-3 col-xl-3"></div>
                    <div class="col-md-6 col-xl-6">
                        <div class="main-card mb-3 mt-3 card border border-focus card-create-ad">
                            <div id="formStep1">
                                <h4 class="text-center mt-3"><u>Veuillez choisir une catégorie</u></h4>
                                <div id="btn-object-container">
                                    <h4 class="text-center">Bien</h4>
                                    <button id="btn-object" onclick="ad_step2('Bien')"><i class="pe-7s-joy"></i></button>
                                </div>
                                <div id="btn-service-container">
                                    <h4 class="text-center">Service</h4>
                                    <button id="btn-service" onclick="ad_step2('Service')"><i class="pe-7s-paint"></i></button>
                                </div>

                            </div>
                            <div class="card-body d-none">
                                <form action="/create-ad" method="post" autocomplete="off" class="text-left" enctype="multipart/form-data">
                                    <div class="container d-none" id="formStep2">
                                        <a class="mb-2 mr-2" id="btn-prev-form-step2"><i class="pe-7s-angle-left-circle" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Précédent"></i></a>
                                        <h4 class="text-center mb-5"><u>Veuillez renseigner les informations suivantes</u></h4>
                                        <div class="form-row">
                                            <div class="col-md-2"></div>
                                            <div class="col-md-8">
                                                <div class="position-relative form-group">
                                                    <label name="type" class="required">Type de l'annonce</label>
                                                    <select name="type" class="mb-2 form-control" id="selectType" onchange="validation_form_step2();">
                                                        <option value="" selected>Choisir...</option>
                                                        <option value="Bien">Bien</option>
                                                        <option value="Service">Service</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-2"></div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-2"></div>
                                            <div class="col-md-8">
                                                <div class="position-relative form-group">
                                                    <label for="title" class="required">Titre de l'annonce</label>
                                                    <input name="title" id="inp-title" type="text" class="form-control" required="required" onkeyup="validation_form_step2()">
                                                </div>
                                            </div>
                                            <div class="col-md-2"></div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-2"></div>
                                            <div class="col-md-8">
                                                <div class="position-relative form-group">
                                                    <label for="description" class="required">Description</label>
                                                    <textarea name="description" class="form-control" required="required" id="text-area-descritpion" onkeyup="validation_form_step2()" rows="6"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-md-2"></div>
                                        </div>
                                        <div class="divider"></div>
                                        <div class="form-row">
                                            <div class="col-md-3"></div>
                                            <div class="col-md-6 text-center">
                                                <div id="radio-sale">
                                                    <div class="custom-radio custom-control custom-control-inline">
                                                        <input type="radio" id="radioToSell" name="customRadio" class="custom-control-input" value="Vendre" required>
                                                        <label class="custom-control-label" for="radioToSell">Vendre</label>
                                                    </div>
                                                    <div class="custom-radio custom-control custom-control-inline">
                                                        <input type="radio" id="radioTrade" name="customRadio" class="custom-control-input" value="Échanger">
                                                        <label class="custom-control-label" for="radioTrade">Échanger</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3"></div>
                                        </div>
                                        <div class="form-row mt-3 d-none" id="formRowPrice">
                                            <div class="col-md-4 col-lg-4 col-xl-4"></div>
                                            <div class="col-md-4 col-lg-4 col-xl-4">
                                                <div class="position-relative form-group">
                                                    <label for="price" class="required">Prix</label>
                                                    <div class="input-group">
                                                        <input name="price" id="inp-price" type="number" class="form-control input-group-border" required="required" onkeyup="validation_form_step2()" min="0">
                                                        <div class="input-group-append"><span class="input-group-text font-weight-bold input-group-none">$</span></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-lg-4 col-xl-4"></div>
                                        </div>
                                        <a class="mb-2 mr-2 d-none" id="btn-next-form-step2"><i class="pe-7s-angle-right-circle faa-horizontal animated" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Suivant"></i>
                                        </a>
                                    </div>
                                    <div class="container d-none" id="formStep3">
                                        <a class="mb-2 mr-2" id="btn-prev-form-step3"><i class="pe-7s-angle-left-circle" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Précédent"></i></a>
                                        <h4 class="text-center mb-5"><u>Veuillez choisir une ou plusieurs photos</u></h4>

                                        <div class="form-row text-center">
                                            <div class="col-md-4">
                                                <div class="custom-file">
                                                    <input type="file" class="custom-file-input" id="customFile1" name="adphoto" onchange="readURL(1);">
                                                    <img id="photo1" src="./images/input-file-photo.png" height="147" class="position-absolute"/>
                                                    <label class="custom-file-label custom-file-label-ad" for="customFile1"></label>
                                                    <h6 class="text-center">Photo Principale</h6>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="custom-file">
                                                    <input type="file" class="custom-file-input" id="customFile2" name="adphoto" onchange="readURL(2);">
                                                    <img id="photo2" src="./images/input-file-photo.png" height="147" class="position-absolute"/>
                                                    <label class="custom-file-label custom-file-label-ad" for="customFile2"></label>
                                                    <h6 class="text-center">2ème Photo</h6>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="custom-file">
                                                    <input type="file" class="custom-file-input" id="customFile3" name="adphoto" onchange="readURL(3);">
                                                    <img id="photo3" src="./images/input-file-photo.png" height="147" class="position-absolute"/>
                                                    <label class="custom-file-label custom-file-label-ad" for="customFile3"></label>
                                                    <h6 class="text-center">3ème Photo</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <a class="mb-2 mr-2" id="btn-next-form-step3"><i class="pe-7s-angle-right-circle faa-horizontal animated" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Suivant"></i>
                                        </a>
                                    </div>
                                    <div class="container d-none" id="formStep4">
                                        <a class="mb-2 mr-2" id="btn-prev-form-step4"><i class="pe-7s-angle-left-circle" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Précédent"></i></a>
                                        <h4 class="text-center mb-3"><u>Veuillez vérifier les informations ci-dessous</u></h4>
                                        <div class="form-row text-center">
                                            <div class="col-md-1"></div>
                                            <div class="col-md-10">
                                            <div class="divider"></div>
                                                <form class="">
                                                    <div class="position-relative row form-group">
                                                        <div class="col-md-4">
                                                            <div class="custom-file">
                                                                <input type="file" class="custom-file-input" id="customFile1Check" disabled>
                                                                <img id="photo1Check" height="147" class="position-absolute"/>
                                                                <label class="custom-file-label custom-file-label-ad" for="customFile1Check"></label>
                                                                <h6 class="text-center">Photo Principale</h6>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="custom-file">
                                                                <input type="file" class="custom-file-input" id="customFile2Check" disabled>
                                                                <img id="photo2Check" height="147" class="position-absolute"/>
                                                                <label class="custom-file-label custom-file-label-ad" for="customFile2Check"></label>
                                                                <h6 class="text-center">2ème Photo</h6>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="custom-file">
                                                                <input type="file" class="custom-file-input" id="customFile3Check" disabled>
                                                                <img id="photo3Check" height="147" class="position-absolute"/>
                                                                <label class="custom-file-label custom-file-label-ad" for="customFile3Check"></label>
                                                                <h6 class="text-center">3ème Photo</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="divider"></div>
                                                    <div class="position-relative row form-group">
                                                        <label for="inp-type-check" class="col-sm-3 col-form-label font-weight-bold">Type</label>
                                                        <div class="col-sm-9">
                                                            <input name="type" id="inp-type-check" type="text" class="form-control" readonly>
                                                        </div>
                                                    </div>
                                                    <div class="position-relative row form-group">
                                                        <label for="inp-title-check" class="col-sm-3 col-form-label font-weight-bold">Titre</label>
                                                        <div class="col-sm-9">
                                                            <input name="title" id="inp-title-check" type="text" class="form-control" readonly>
                                                        </div>
                                                    </div>    
                                                    <div class="position-relative row form-group">
                                                        <label for="text-area-description-check" class="col-sm-3 col-form-label font-weight-bold">Description</label>
                                                        <div class="col-sm-9">
                                                            <textarea name="text" id="text-area-description-check" class="form-control" readonly ></textarea>
                                                        </div>
                                                    </div>

                                                    <div class="position-relative row form-group">
                                                        <label for="inp-price-check" class="col-sm-3 col-form-label font-weight-bold">Prix</label>
                                                        <div class="col-sm-3">
                                                            <div class="input-group">
                                                                <input name="price" id="inp-price-check" type="number" class="form-control input-group-border" readonly>
                                                                <div class="input-group-append"><span class="input-group-text font-weight-bold input-group-none">$</span></div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6"></div>
                                                    </div>
                                                    <div class="divider"></div>
                                                    <div class="position-relative row form-group mt-5">
                                                        <div class="col-sm-3"></div>
                                                        <div class="col-sm-6">
                                                            <button id="modifyInfos" class="mb-2 mr-2 btn-transition btn btn-center btn-outline-info float-left" type="button" role="button">Modifier</button>
                                                            <input class="btn btn-center btn-success mt-5 float-right" type="submit" value="Publier">
                                                        </div>
                                                        <div class="col-sm-3"></div>

                                                    </div>
                                                </form>
                                            </div>
                                            <div class="col-md-1"></div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xl-3"></div>

                </div>
            </div>
        </div>
    </div>
</div>
<%- include('footer'); -%>