</div>
</div>
<footer class="footer text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center">
                <br>
                <h5 class="title">À propos</h5>
                <p>NewWasteLife est développé en
                    <a class="text-success" href="https://nodejs.org">Node.js</a>
                    <br>
                    utilisant <a class="text-success" href="https://www.javascript.com/">Javascript</a>.</p>
            </div>
            <div class="col-md-4 text-center">
                <div class="footer-copyright text-center py-5">© 2019 Copyright :
                    <a class="text-success" href="/">NewWasteLife.com</a>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <br>
                <h5 class="title">Liens Important</h5>
                <a class="text-success" href="/">Support Server</a><br>
                <a class="text-success" href="/">Twitter</a><br>            
            </div>
        </div>
    </div>
    <br>
</footer>




<script type="text/javascript" src="/js/script.js"></script>
<script src="/js/dashboard.js"></script>
</body>
</html>