<%- include('layout', {user: locals.user}) -%>
<head>
    <script type="text/javascript">
        
    </script>
    <title>New Waste Life</title>
</head>
<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="tab-content">
            <div class="tab-pane tabs-animation fade show active" id="tab-content-1" role="tabpanel">
                <div class="row">
                    <!-- Contenu de la page -->
                    <div class="col-lg-1"></div>
                    <div class="col-lg-5">
                        <div class="main-card mb-3 card">
                            <div class="card-title">
                                <div class="card-header">
                                    <h5 class="mx-auto">Biens</h5>
                                </div>
                            </div>                            
                            <div class="card-body" id="cardBodyHomeBiens">
                                <% var biens = 0 %>
                                <% annonces.forEach(function(annonce){%>
                                    <% if(!annonce.verif) { %>
                                    <% if(biens < 6) { %>
                                        <% if(annonce.type == 'Bien') { %>
                                            <% biens = biens + 1 %>
                                            <div class="card-shadow-focus mb-1 card card-body card-body-ad" >
                                                <div class="row">
                                                    <div class="col-md-2 col-xl-2 card card-img-ad" onclick="location.href='/ad/<%= annonce._id %>';">
                                                        <% if(annonce.photos.length > 0) { %>
                                                        <img class="img-ad-home" src="/uploads/<%= annonce.photos[0] %>" alt="Image Principale" />
                                                        <% } else { %>
                                                        <img class="img-ad-home" src="/images/input-file-photo.png" alt="Image Principale"/>
                                                        <% } %>
                                                    </div>
                                                    <div class="col-md-10 col-xl-10">
                                                        <div class="card-header d-block" >
                                                            <h5 class="float-left mt-3 text-truncate w-75" onclick="location.href='/ad/<%= annonce._id %>';"><%= annonce.title %></h5>
                                                            <% if (locals.user) { %>
                                                                <div class="btn-actions-pane-right actions-icon-btn">
                                                                    <button type="button" class="btn-icon btn btn-link btn-sm float-right rounded-pill mt-3 text-success">
                                                                        <span class="btn-icon-wrapper">
                                                                            <% if(user.favorites.includes(annonce._id)) { %>
                                                                                <i id="<%= annonce._id %>" class="fas fa-heart"></i>
                                                                            <% } else { %>
                                                                                <i id="<%= annonce._id %>" class="pe-7s-like"></i>
                                                                            <% } %>
                                                                        </span>
                                                                    </button>
                                                                </div>
                                                            <% } %>
                                                        </div>
                                                        <div class="card-footer d-block" onclick="location.href='/ad/<%= annonce._id %>';">
                                                            <a class="float-left font-weight-bold"><%= annonce.price %> $</a>
                                                            <div class="float-right mb-2 mr-2 badge badge-pill badge-focus"><%= annonce.date.toLocaleDateString('en-US') %></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        <% } %>
                                    <% } %>
                                    <% } %>
                                <% }) %>
                            </div>
                            <div class="card-footer">
                                <button onclick="location.href='/biens';" class="btn btn-focus text-warning btn-center rounded-pill">Voir plus de biens</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="main-card mb-3 card">
                            <div class="card-title">
                                <div class="card-header">
                                    <h5 class="mx-auto">Services</h5>
                                </div>
                            </div>
                            <div class="card-body" id="cardBodyHomeServices">
                                <% var services = 0 %>
                                <% annonces.forEach(function(annonce){%>
                                    <% if(!annonce.verif) { %>
                                    <% if(services < 6) { %>
                                        <% if(annonce.type == 'Service') { %>
                                            <% services = services + 1 %>
                                            <div class="card-shadow-focus mb-1 card card-body card-body-ad">
                                                <div class="row">
                                                    <div class="col-md-2 col-xl-2 card card-img-ad" onclick="location.href='/ad/<%= annonce._id %>';">
                                                        <% if(annonce.photos.length > 0) { %>
                                                        <img class="img-ad-home" src="/uploads/<%= annonce.photos[0] %>" alt="Image Principale" />
                                                        <% } else { %>
                                                        <img class="img-ad-home" src="/images/input-file-photo.png" alt="Image Principale"/>
                                                        <% } %>
                                                    </div>
                                                    <div class="col-md-10 col-xl-10">
                                                        <div class="card-header d-block">
                                                            <h5 class="float-left mt-3 text-truncate w-75" onclick="location.href='/ad/<%= annonce._id %>';"><%= annonce.title %></h5>
                                                            <% if (locals.user) { %>
                                                                <div class="btn-actions-pane-right actions-icon-btn">
                                                                    <button type="button" class="btn-icon btn btn-link btn-sm float-right rounded-pill mt-3 text-success">
                                                                        <span class="btn-icon-wrapper">
                                                                                <% if(user.favorites.includes(annonce._id)) { %>
                                                                                    <i id="<%= annonce._id %>" class="fas fa-heart"></i>
                                                                                <% } else { %>
                                                                                    <i id="<%= annonce._id %>" class="pe-7s-like"></i>
                                                                                <% } %>
                                                                        </span>
                                                                    </button>
                                                                </div>
                                                            <% } %>
                                                        </div>
                                                        <div class="card-footer d-block" onclick="location.href='/ad/<%= annonce._id %>';">
                                                            <a class="float-left font-weight-bold"><%= annonce.price %> $</a>
                                                            <div class="float-right mb-2 mr-2 badge badge-pill badge-focus"><%= annonce.date.toLocaleDateString('en-US') %></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        <% } %>
                                    <% } %>
                                    <% } %>
                                <% }) %>
                            </div>
                            <div class="card-footer">
                                <button onclick="location.href='/services';" class="btn btn-focus text-warning btn-center rounded-pill">Voir plus de services</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('footer'); -%>