<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/dashboard.css">
        <link rel="stylesheet" type="text/css" href="/css/font-awesome-animation.min.css">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
              integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link rel="icon" type="image/png" href="/images/favicon.ico" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
        <link rel="stylesheet" type="text/css" href="/scripts/css/star-rating-svg.css">
        
        <!-- jQuery, Popper & Anime -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
                integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="/scripts/jquery.star-rating-svg.js"></script>
        
        <!-- Cookie consent https://cookieconsent.osano.com/download/ -->
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
        <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script>
            //initialise la map
        
            
   
            window.addEventListener("load", function(){
                window.cookieconsent.initialise({
                    "palette": {
                        "popup": {
                            "background": "#29323c"
                        },
                        "button": {
                            "background": "#74d14c"
                        }
                    },
                    "theme": "classic",
                    "position": "bottom-right",
                    "content": {
                        "message": "Cette plateforme utilise des cookies pour vous garantir la meilleure expérience de navigation ! ",
                        "dismiss": "J'aime les cookies ! 🍪",
                        "link": "Lire plus",
                        "href": "http://127.0.0.1:5000/"
                    }
                })
                
            });
        </script>
        <script src="https://unpkg.com/vanilla-back-to-top@7.2.0/dist/vanilla-back-to-top.min.js"></script>
        <script>
            $( document ).ready(function() {
                addBackToTop({
                    diameter: 56,
                    backgroundColor: 'rgb(116, 209, 76)',
                    textColor: '#444054',
                    showWhenScrollTopIs: 200, //px
                    scrollDuration: 250,      //ms
                    zIndex: 100
                })

            });
            function validateQuery(){
                if($('#queryInput').val() == '')
                    return false;

                return true;
            }
        </script> 
        <!---
=========================================================
* ArchitectUI HTML Theme Dashboard - v1.0.0
=========================================================
* Product Page: https://dashboardpack.com
* Copyright 2019 DashboardPack (https://dashboardpack.com)
* Licensed under MIT (https://github.com/DashboardPack/architectui-html-theme-free/blob/master/LICENSE)
=========================================================
* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
    </head>
    <body>
        <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header closed-sidebar">
            <div class="app-header header-shadow bg-vicious-stance">
                <div class="app-header__logo bg-white">
                    <div class="logo-src">
                        <img id="imgLogo" src="/images/logo.png" alt="logo" width="80" height="60" />
                    </div>
                    <div class="header__pane ml-auto">
                        <div>
                            <button type="button" class="hamburger close-sidebar-btn hamburger--elastic"
                                    data-class="closed-sidebar">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner bg-dark"></span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="app-header__mobile-menu">
                    <div>
                        <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                            <span class="hamburger-box">
                                <span class="hamburger-inner bg-dark"></span>
                            </span>
                        </button>
                    </div>
                </div>
                <div class="app-header__menu">
                        
                    <span>
                        <button type="button"
                                class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                            <span class="btn-icon-wrapper">
                                <i class="fa fa-ellipsis-v fa-w-6"></i>
                            </span>
                        </button>
                    </span>
                </div>
                <div class="app-header__content pr-0">
                    <div class="app-header-left">
                        <div id="btn-home-container">
                            <button id="btn-home" onclick="location.href='/';" data-toggle="tooltip" data-placement="bottom"
                                    title="" data-original-title="Accueil"><i class="pe-7s-home"></i></button>
                        </div>
                        <form action="/search" method="post" onsubmit="return validateQuery();">
                            <div class="search-wrapper">
                                <div class="input-holder">
                                    <input name="query" id="queryInput" type="text" class="search-input" placeholder="Rechercher...">
                                    <button class="search-icon" data-toggle="tooltip" data-placement="bottom" title=""
                                            data-original-title="Rechercher"><span></span></button>
                                </div>
                                <button class="close text-green"></button>
                            </div>
                        </form>
                        <img src="/images/logo4.png" alt="NewWasteLife" height="180" id="homeLink"
                             onclick="location.href='/';">
                    </div>
                    <div class="app-header-right">
                        <div class="header-btn-lg pr-0">
                            <div class="widget-content p-0">
                                <div class="widget-content-wrapper">
                                    <div class="widget-content-left">
    
                                        <% if (locals.user) { %>
                                        <div class="btn-group">
                                            <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                               class="p-0 btn">
                                                <i class="fa fa-angle-down ml-2 opacity-8 text-white" style="margin-top: 10px; margin-right: 20px; font-size: 2em;"></i>
                                            </a>
                                            <i class="pe-7s-user icon-gradient bg-malibu-beach"
                                               style="font-size: 2.5rem;"></i>
                                            <div tabindex="-1" role="menu" aria-hidden="true"
                                                 class="dropdown-menu dropdown-menu-right" x-placement="bottom-end">
                                                <button onclick="location.href='/profile';" type="button" tabindex="0"
                                                        class="dropdown-item">Mon Compte</button>
                                                <button onclick="location.href='/';" type="button" tabindex="0"
                                                        class="dropdown-item">Mon Abonnement</button>
                                                <button onclick="location.href='/';" type="button" tabindex="0"
                                                        class="dropdown-item">Paramètres</button>
                                                <div tabindex="-1" class="dropdown-divider"></div>
                                                <button onclick="location.href='/logout';" type="button" tabindex="0"
                                                        class="dropdown-item"><span class="text-danger">Se
                                                    déconnecter</span></button>
                                            </div>
                                        </div>
                                        <% } else { %>
                                        <a id="btn-login-inscription" href="/login" class="text-decoration-none">
                                            <span class="text-success">Se connecter</span>
                                            <span class="text-dark">&nbsp;ou&nbsp; </span>
                                            <span class="text-info">S'inscrire</span>
                                        </a>
                                        <% } %>
                                    </div>
                                    <% if (locals.user) { %>
                                    <div class="widget-content-left  ml-3 header-user-info text-white" onclick="location.href='/profile';">
                                        <div class="widget-heading"><%= user.lastname %> <%= user.firstname %></div>
                                        <div class="widget-subheading"><%= user.courriel %></div>
                                    </div>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="app-main">
                <div class="app-sidebar sidebar-shadow sidebar-text-dark"
                     style="z-index: 11; background-color: #b2edbf!important;">
                    <div class="app-header__logo">
                        <div class="header__pane ml-auto">
                            <div>
                                <button type="button" class="hamburger close-sidebar-btn hamburger--elastic"
                                        data-class="closed-sidebar">
                                    <span class="hamburger-box">
                                        <span class="hamburger-inner"></span>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="app-header__mobile-menu">
                        <div>
                            <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                            </button>
                        </div>
                    </div>
                    <div class="app-header__menu">
                        <span>
                            <button type="button"
                                    class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                                <span class="btn-icon-wrapper">
                                    <i class="fa fa-ellipsis-v fa-w-6"></i>
                                </span>
                            </button>
                        </span>
                    </div>
                    <div class="scrollbar-sidebar ps">
                        <div class="app-sidebar__inner">
                            <ul class="vertical-nav-menu metismenu">
                                <% if (locals.user) { %>
                                <li class="app-sidebar__heading"></li>
                                <li class="app-sidebar-li">
                                    <a href="/create-ad" class="sidebar-content" aria-expanded="false">
                                        <i class="fas fa-plus-square metismenu-icon app-sidebar-icon"></i>
                                        Ajouter une annonce
                                    </a>
                                </li>
                                <% } %>
                                <li class="app-sidebar__heading"></li>
                                <li class="app-sidebar-li">
                                    <a href="/biens" class="sidebar-content" aria-expanded="false">
                                        <i class="fas fa-archive metismenu-icon app-sidebar-icon"></i>
                                        Biens
                                    </a>
                                </li>
                                <li class="app-sidebar__heading"></li>
                                <li class="app-sidebar-li">
                                    <a href="/services" class="sidebar-content" aria-expanded="true">
                                        <i class="fas fa-handshake metismenu-icon app-sidebar-icon"></i>
                                        Services
                                    </a>
                                </li>
                                <li class="app-sidebar__heading"></li>
                                <% if (locals.user) { %>
                                <li class="app-sidebar__heading"></li>
                                <li class="fixed-bottom" id="dashLi">
                                    <a href="/" class="sidebar-content" aria-expanded="false">
                                        <i class="metismenu-icon pe-7s-display2 app-sidebar-icon" id="dashBut"></i>
                                        Tableau de bord
                                    </a>
                                </li>
                                <li class="app-sidebar__heading" id="middleHeadingDash"></li>
                                <li class="fixed-bottom" id="favLi">
                                    <a href="/profile" class="sidebar-content" aria-expanded="false">
                                        <i class="metismenu-icon pe-7s-like app-sidebar-icon ml-0 font-weight-bold" id="favBut"></i>
                                        Coups de Coeur
                                    </a>
                                </li>
                                <li class="app-sidebar__heading" id="bottomHeadingDash"></li>
                                <li class="fixed-bottom" id="messLi">
                                    <a href="/" class="sidebar-content" aria-expanded="false">
                                        <i class="metismenu-icon pe-7s-mail app-sidebar-icon" id="messBut"></i>
                                        Messagerie
                                    </a>
                                </li>
                                <% } %>
                            </ul>
                        </div>
                    </div>
                </div>