<%- include('layout'); -%>

<head>
    <title>Se connecter</title>
</head>

<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title bg-antique-white">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-safe icon-gradient bg-ripe-malin">
                        </i>
                    </div>
                    <div>Se connecter</div>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane tabs-animation fade show active" id="tab-content-1" role="tabpanel">
                <div class="row align-items-center">
                    <img src="./images/logo2.png" alt="NewWasteLife" height="375" id="loginLogo" class="position-absolute">
                    <div class="col-md-3 col-xl-3"></div>
                    <div class="col-md-6 col-xl-6 mt-3 pt-3">
                        <div class="main-card mb-3 mt-5 card card-login-account">
                            <div class="card-body card-body-login mt-5">
                                <div class="row">
                                    <div class="col-md-6 col-xl-6 col-open-session">
                                        <h4>Ouvrir une session</h4>
                                        <form action="/login" method="post" class="mt-4 needs-validation">
                                            <div class="form-row">
                                                <div class="col-md-1"></div>
                                                <div class="col-md-10">
                                                    <% if (locals.error == "email") { %>
                                                        <label for="inputEmail" class="required">Email</label>
                                                        <input name="inputEmail" type="email" class="form-control is-invalid" required="required" value="<%= locals.email %>" autofocus>
                                                        <div class="invalid-feedback">
                                                            <%= errorMsg %>
                                                        </div>
                                                    <% } else { %>
                                                        <div class="position-relative form-group">
                                                            <label for="inputEmail" class="required">Email</label>
                                                            <input name="inputEmail" type="email" class="form-control" required="required" value="<%= locals.email %>">
                                                        </div>
                                                    <% } %>
                                                </div>
                                                <div class="col-md-1"></div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-md-1"></div>
                                                <div class="col-md-10">
                                                    <div class="position-relative form-group">
                                                        <% if (locals.error == "password") { %>
                                                            <label for="inputPassword" class="required">Mot de Passe</label>
                                                            <input name="inputPassword" type="password" class="form-control is-invalid" required="required" autofocus>
                                                            <div class="invalid-feedback">
                                                                <%= errorMsg %>
                                                            </div>
                                                        <% } else { %>
                                                        <label for="inputPassword" class="required">Mot de Passe</label>
                                                        <input name="inputPassword" type="password" class="form-control" required="required">
                                                        <% } %>
                                                        <a href="/reset_password" class="btn-lg btn btn-link p-0" style>Mot de passe oublié</a>
                                                    </div>
                                                </div>
                                                <div class="col-md-1"></div>
                                            </div>
                                            <div class="divider row"></div>
                                            <div class="form-row">
                                                <div class="col-md-3"></div>
                                                <div class="col-md-6 keep-login text-center">
                                                    <input name="check" id="exampleCheck" type="checkbox" class="custom-control-input" checked>
                                                    <label for="exampleCheck" class="custom-control-label">Rester connecté</label>
                                                </div>
                                                <div class="col-md-3"></div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-md-3"></div>
                                                <div class="col-md-6">
                                                    <input class="btn btn-focus btn-center text-warning" type="submit" value="Se connecter">
                                                </div>
                                                <div class="col-md-3"></div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-md-6 col-xl-6 col-new-inscription">
                                        <h4 class="float-right">Pas encore de compte ?</h4>
                                        <h6 class="text-center mt-5 mb-5 pt-5">Créez un compte dès maintenant pour afficher, modifier et gérer vos annonces de biens ou des services et encore plus de fonctionnalités !</h6>
                                        <button type="button" class="btn-focus btn-center btn-shadow btn ml-2 mr-2 text-warning" onclick="location.href='/register';">
                                            Créer un compte
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xl-3"></div>
                </div>
            </div>

        </div>
    </div>
</div>
<%- include('footer'); -%>