<%- include('layout'); -%>
<head>
    <title>Mon Compte</title>
    <script src="/scripts/jquery-input-mask-phone-number.min.js"></script>
    <script src="/js/area_code.js"></script>
    <script type="text/javascript">
        $( document ).ready(function() {
            setModalReject();
            setModalsDeleteAd();
            setModalsCompleteAd();

            $('#modif-form').on('submit', (event) => {
                event.preventDefault();
                const data = $('#modif-form').serialize();
                console.log(data);

                $.ajax({
                    method: 'post',
                    url: '/profile',
                    data: data,
                    contentType: 'application/x-www-form-urlencoded',
                    success: function(data) {
                        if(data.error === "password") {
                            $('#password-feedback').css({'display': 'block'});
                        } else if(data.error === "username") {
                            $('#username-feedback').css({'display': 'block'});
                        } else {
                            alert("Les modifications ont été apportées au profil!");
                            location.href = '/profile';
                        }
                    },
                    error: function() {
                        alert("Oups! Un problème est survenu. Réessayez plus tard!");
                    }
                })
            });

            // Permet d'initialiser les étoiles
            $(".my-rating").starRating({
                totalStars: 5,
                starShape: 'rounded',
                initialRating: setUserRating(),
                starSize: 25,
                readOnly: true,
                useGradient: false
            });
            
            // Fonction permettant de vérifier la robustesse du mot de passe dès qu'une touche est relâchée
            $("#newPassword").keyup(function() {

                var degré = 0;
                var char = $("#newPassword").val();

                if($("#newPassword").val().match(/\d+/g)){
                    degré++;
                }

                if($("#newPassword").val().match(/[a-z]/g)){
                    degré++;
                }

                if($("#newPassword").val().match(/[A-Z]/g)){
                    degré++;
                }

                if($("#newPassword").val().length >= 8){
                    degré++;
                }

                if($("#newPassword").val() == ""){
                    degré = 0;
                }

                $("#password-text").text("Le mot de passe doit avoir au minimum 8 caractères, contenir au moins une lettre majuscule, minuscule et un chiffre.");

                if(degré == 1){
                    $("#password-bar").css("background", "#d14c4c");
                    $("#password-text").css("color", "#d14c4c");
                    $("#password-bar").css("width", "25%");
                } else if(degré == 2){
                    $("#password-bar").css("background", "#ff5733");
                    $("#password-text").css("color", "#ff5733");

                    $("#password-bar").css("width", "50%");
                } else if(degré == 3){
                    $("#password-bar").css("background", "#ffc305");
                    $("#password-text").css("color", "#ffc305");
                    $("#password-bar").css("width", "75%");
                } else if(degré == 4){
                    $("#password-bar").css("background", "#74d14c");
                    $("#password-text").text("");
                    $("#password-bar").css("width", "100%");
                } else {
                    $("#password-bar").css("width", "0%");
                    $("#password-text").text("");
                }
            });

            // Indique le format que doit avoir le numéro de téléphone
            $('#newPhoneNumber').usPhoneFormat({
                format: '(xxx) xxx-xxxx',
            }); 
    
        });

        // Permet de bloquer les chiffres
        function validateKey(event) {
            var char = (event.which) ? event.which : event.keyCode;

            if ((char >= 48 && char <= 57))
                return false;
            return true;
        }
        
        // Fonction permettant de faire la moyenne des différentes notations reçues
        function setUserRating(){
            var ratingList = [<%= user.ratings %>];
            var avgRating = 0;
            if(ratingList != null){
                ratingList.forEach(rating => {
                    avgRating += rating;
                });
            }

            $(".my-rating").attr("data-toggle", 'tooltip');
            $(".my-rating").attr("data-placement", 'bottom');
            if($.isNumeric(avgRating / ratingList.length)){
                $(".my-rating").attr("data-original-title", ((avgRating / ratingList.length).toFixed(1)).toString() + ' / 5');
            } else {
                $(".my-rating").attr("data-original-title", '0 / 5');
            }

            return avgRating / ratingList.length;
        }

        // Affiche une pop-up d'édition
        function setModalReject(){
            var container = document.getElementsByClassName("app-container");

            container[0].innerHTML += '<div class="modal fade" id="modalEditInfos" tabindex="-1" role="dialog" aria-labelledby="modalEditInfosLabel" aria-hidden="true"> <div class="modal-dialog modal-dialog-centered modal-dialog-edit-infos" role="document"> <div class="modal-content"> <div class="modal-header text-center"> <h5 class="modal-title w-100" id="modalEditInfosLabel">Modifier mes informations personnelles</h5> <button type="button" class="close text-danger" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">×</span> </button> </div><form id="modif-form" action="/profile" method="post" enctype="multipart/form-data"> <div class="modal-body"> <div class="form-row"> <div class="col-md-4"> <div class="position-relative form-group"> <label for="accountLastName" class="">Nom</label> <input name="lastname" id="newLastName" type="text" class="form-control" value="<%= user.lastname %>"> </div></div><div class="col-md-4"> <div class="position-relative form-group"> <label for="accountFirstName" class="">Prénom</label> <input name="firstname" id="newFirstName" type="text" class="form-control" value="<%= user.firstname %>"> </div></div><div class="col-md-4"> <div class="position-relative form-group"> <label for="accountUserName" class="">Nom d\'utilisateur</label> <input name="username" id="newUserName" type="text" class="form-control" value="<%= user.username %>"> <div class="invalid-feedback" id="username-feedback" style="display: none;">Le nom d\'utilisateur existe déjà.</div></div></div></div><div class="divider"></div><div class="position-relative form-group"> <label for="accountAddress" class="">Addresse</label> <input name="address" id="newAddress" type="text" class="form-control" value="<%= user.address %>"> </div><div class="form-row"> <div class="col-md-6"> <div class="position-relative form-group"> <label for="accountCity" class="">Ville</label> <input name="city" id="newCity" type="text" class="form-control" value="<%= user.city %>"> </div></div><div class="col-md-4"> <div class="position-relative form-group"> <label for="accountProvince" class="">Province</label> <input name="province" id="newProvince" type="text" class="form-control" value="<%= user.province %>"> </div></div><div class="col-md-2"> <div class="position-relative form-group"> <label for="accountPostalCode" class="">Code Postal</label> <input name="postalcode" id="newPostalCode" type="text" class="form-control" value="<%= user.postalcode %>"> </div></div></div><div class="divider"></div><div class="form-row"> <div class="col-md-6"> <div class="position-relative form-group"> <label for="accountEmail" class="">Courriel</label> <input name="email" type="email" class="form-control" value="<%= user.courriel %>" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Vous ne pouvez pas modifier votre courriel !" readonly> </div></div><div class="col-md-6"> <div class="position-relative form-group"> <label for="accountPhoneNumber" class="">Téléphone</label> <input name="phonenumber" id="newPhoneNumber" type="tel" class="form-control" pattern="\\([0-9]{3}\\) [0-9]{3}-[0-9]{4}" value="<%= user.phone %>"> </div></div></div><div class="divider"></div><div class="form-row"> <div class="col-md-6"> <div class="position-relative form-group"> <label for="oldPassword" class="">Ancien Mot de Passe</label> <input name="oldpassword" id="oldPassword" type="password" class="form-control"> <div class="invalid-feedback" id="password-feedback" style="display: none;">L\'ancien mot de passe est incorrect.</div></div></div><div class="col-md-6"> <div class="position-relative form-group"> <label for="newPassword" class="">Nouveau Mot de Passe</label> <input name="newpassword" id="newPassword" type="password" class="form-control"> </div></div></div><div class="form-row"><div class="col-md-12 text-center"><div id="password-level" class="br-25"><div id="password-bar" class="br-25"></div><br></div><div id="password-text"></div></div></div><div class="modal-footer text-center"> <button type="button" class="btn btn-link text-danger" data-dismiss="modal">Annuler</button> <input type="submit" class="btn btn-outline-success" value="Enregistrer"/> </div></div></form></div></div></div>'
        }

        // Affiche une pop-up de suppression
        function setModalsDeleteAd(){
            var container = document.getElementsByClassName("app-container");

            <% for(var i=0; i < user.annonces.length; i++) { %>

            container[0].innerHTML += '<div class="modal fade" id="modalDeleteAd_<%= user.annonces[i]._id %>" tabindex="-1" role="dialog" aria-labelledby="modalDeleteAdLabel<%= user.annonces[i]._id %>" aria-hidden="true"><div class="modal-dialog modal-dialog-centered modal-dialog-edit-infos" role="document"> <div class="modal-content"> <div class="modal-header text-center"> <h5 class="modal-title w-100" id="modalDeleteAdLabel_<%= user.annonces[i]._id %>">Voulez vous vraiment supprimer cette annonce ?</h5> <button type="button" class="close text-success" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">×</span> </button> </div><form id="formDeleteAd_<%= user.annonces[i]._id %>" action="/delete/ad/<%= user.annonces[i]._id %>" method="post" enctype="multipart/form-data"> <div class="modal-body"><h3 class="text-center"><%= user.annonces[i].title %> </div><div class="modal-footer text-center"> <button type="button" class="btn btn-link text-danger btn-center float-left" data-dismiss="modal">Annuler</button> <input type="submit" class="btn btn-danger btn-center float-right" value="Supprimer"/> </div></form> </div></div></div'
            <% } %>
        }

        // Affiche une pop-up de complétion
        function setModalsCompleteAd(){
            var container = document.getElementsByClassName("app-container");

            <% for(var i=0; i < user.annonces.length; i++) { %>
            container[0].innerHTML += '<div class="modal fade" id="modalCompleteAd_<%= user.annonces[i]._id %>" tabindex="-1" role="dialog" aria-labelledby="modalCompleteAdLabel<%= user.annonces[i]._id %>" aria-hidden="true"><div class="modal-dialog modal-dialog-centered modal-dialog-edit-infos" role="document"> <div class="modal-content"> <div class="modal-header text-center"> <h5 class="modal-title w-100" id="modalCompleteAd_<%= user.annonces[i]._id %>">Terminer officiellement la transaction</h5> <button type="button" class="close text-danger" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">×</span> </button> </div><form id="formCompleteAd_<%= user.annonces[i]._id %>" action="/rating/<%= user.annonces[i]._id %>" method="get"  enctype="multipart/form-data"> <div class="modal-footer text-center"> <button type="button" class="btn btn-link text-danger btn-center float-left" data-dismiss="modal">Annuler</button> <input type="submit" class="btn btn-success btn-center float-right" value="Noter et terminer la transaction"/> </div></form> </div></div></div>'
            <% } %>
        }

        function areaCodeInList(){
            let inListBool = false;
            let phoneNumber = $("#newPhoneNumber").val();
            let areaCode = phoneNumber.substring(1, 4);
            let isNumber = !isNaN(Number(areaCode));
            if(isNumber)
                inListBool = areaCodeList.includes(Number(areaCode));
            return inListBool;
        }
    </script>
</head>
<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title bg-antique-white">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-display2 icon-gradient bg-ripe-malin">
                        </i>
                    </div>
                    <div>Mon Compte</div>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane tabs-animation fade show active" id="tab-content-1" role="tabpanel">
                <div class="row">
                    <!-- Contenu de la page -->
                    <div class="col-md-1 col-xl-1"></div>
                    <div class="col-md-10 col-xl-10">
                        <div class="main-card card mb-3 mt-1 card-shadow-focus card-profile">
                            <div class="card-header profile-card-header card-header-profile pr-0">
                                <div class="profile-card pr-0 pl-0">
                                    <div class="row w-100 mr-0 ml-0">
                                        <div class="col-md-1 col-lg-1 col-xl-1 p-0 pl-3">
                                            <div class="profile-card-avatar mr-3">
                                                <div class="avatar-rounded">
                                                    <!--                                            <img src="#" alt="Avatar" witdh="30" height="30"/>-->
                                                    <i class="pe-7s-user icon-gradient bg-malibu-beach" style="font-size: 3.5rem;"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-lg-4 col-xl-4 p-0">
                                            <div class="profile-card-infos text-focus pt-2 pb-2">
                                                <h5 class="float-left w-100 mb-0"><%= user.lastname.substring(0, 1).toUpperCase(); %><%= user.lastname.substring(1); %> <%= user.firstname; %> </h5>
                                                <h6 class="profile-card-role">@<%= user.username; %></h6>
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-lg-2 col-xl-2 p-0 text-center" style="right: 0.9%;">
                                            <div class="my-rating"><h6 class="mb-0 text-dark">Réputation</h6></div>
                                        </div>
                                        <div class="col-md-4 col-lg-4 col-xl-4 p-0">
                                        </div>
                                        <div class="col-md-1 col-lg-1 col-xl-1 p-0 pt-3">
                                            <div class="menu-header-btn-pane">
                                                <button type="button" class="rounded-pill btn btn-primary" data-toggle="modal" data-target="#modalEditInfos">Modifier</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>  
                            <div class="card-body profile-card-body mt-3 mb-3">
                                <form class="">
                                    <div class="form-row">
                                        <div class="col-md-4 text-center">
                                            <a class="font-weight-bold"><u>Adresse</u></a>
                                            <br>
                                            <br>
                                            <a><%= user.address %></a>
                                            <br>
                                            <a><%= user.city %></a>
                                            <a>(<%= user.province %>)</a>
                                            <a><%= user.postalcode %></a>
                                            <br>
                                            <a>CANADA</a>
                                        </div>
                                        <div class="col-md-4 text-center border-right border-left">
                                            <a class="font-weight-bold"><u>Courriel</u></a>
                                            <br>
                                            <br>
                                            <a><%= user.courriel %></a>
                                        </div>
                                        <div class="col-md-4 text-center">
                                            <a class="font-weight-bold"><u>Téléphone</u></a>
                                            <br>
                                            <br>
                                            <a><%= user.phone %></a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="card-footer profile-card-footer">
                                <div class="row w-100">
                                    <div class="col-md-6 col-xl-6">
                                        <div class="main-card mb-3 mt-3 card card-scroll-area-ad">
                                            <div class="card-header">
                                                <i class="header-icon lnr-laptop-phone icon-gradient bg-plum-plate"> </i>
                                                Annonces en ligne : <%= user.annonces.length %><br>
                                                <div class="btn-actions-pane-right actions-icon-btn">
                                                    <button type="button" class="btn-icon btn btn-primary btn-sm float-right  rounded-pill" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Ajouter une annonce" onclick="location.href='/create-ad'">
                                                        <span class="btn-icon-wrapper">
                                                            <i class="fas fa-plus"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <div class="scroll-area-sm scroll-area-ad">
                                                    <div class="scrollbar-container ps--active-y ps">
                                                        <% for(var i=0; i < user.annonces.length; i++) { %>
                                                        <div class="card-shadow-focus mb-1 card card-body card-body-ad">
                                                            <div class="row">
                                                                <div class="col-md-2 col-xl-2 card card-img-ad" onclick="location.href='/ad/<%= user.annonces[i]._id %>';">
                                                                    <% if(user.annonces[i].photos.length > 0) { %>
                                                                    <img class="img-ad" src="/uploads/<%= user.annonces[i].photos[0] %>" alt="Image Principale" />
                                                                    <% } else { %>
                                                                    <img class="img-ad" src="/images/input-file-photo.png" alt="Image Principale"/>
                                                                    <% } %>
                                                                </div>
                                                                <div class="col-md-10 col-xl-10">
                                                                    <div class="card-header d-block">
                                                                        <h5 class="float-left mt-3 text-truncate" onclick="location.href='/ad/<%= user.annonces[i]._id %>';"><%= user.annonces[i].title %></h5>
                                                                            <div class="float-right mt-2 settings-ad bg-light">
                                                                                    <span class="btn-icon-wrapper">
                                                                                        <i class="fa fa-cog fa-w-20"></i>
                                                                                        <% if(!user.annonces[i].verif){ %>
                                                                                        <button type="button" class="btn-shadow btn btn-settings-ad ml-2 mr-2 d-none text-success" data-toggle="modal" data-target="#modalCompleteAd_<%= user.annonces[i]._id %>">
                                                                                            <i class="fas fa-check m-2"></i>
                                                                                        </button>
                                                                                        <button type="button" class="btn-shadow btn btn-settings-ad ml-2 mr-2 d-none text-primary" onclick="location.href='/edit/ad/<%= user.annonces[i]._id %>';">
                                                                                            <i class="fas fa-pencil-alt m-2"></i>
                                                                                        </button>
                                                                                        <% } %>
                                                                                        <button type="button" class="btn-shadow btn ml-2 mr-2 text-danger btn-settings-ad d-none" data-toggle="modal" data-target="#modalDeleteAd_<%= user.annonces[i]._id %>">
                                                                                            <i class="far fa-trash-alt m-2"></i>
                                                                                        </button>
                                                                                    </span>
                                                                                </div>
                                                                    </div>
                                                                    <div class="card-footer d-block"  onclick="location.href='/ad/<%= user.annonces[i]._id %>';">
                                                                        <a class="float-left font-weight-bold"><%= user.annonces[i].price %> $</a>
                                                                        <div class="float-right mb-2 mr-2 badge badge-pill badge-focus"><%= user.annonces[i].date.toLocaleDateString('en-US') %></div>
                                                                        <% if(user.annonces[i].verif){ %>
                                                                            <div class="float-right mb-2 mr-2 badge badge-pill badge-info">En attente</div>
                                                                        <% } %>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <% } %>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-xl-6">
                                        <div class="main-card mb-3 mt-3 card card-scroll-area-ad" id="favourites">
                                            <div class="card-header">
                                                <i class="header-icon lnr-laptop-phone icon-gradient bg-plum-plate"> </i>
                                                Coups de Coeur : <%=  user.favorites.length%>
                                            </div>
                                            <div class="card-body">
                                                <div class="scroll-area-sm scroll-area-ad">
                                                    <div class="scrollbar-container ps--active-y ps">
                                                        <% for(var i=0; i < user.favorites.length; i++) { %>
                                                            <% if(!user.annonces[i].verif){ %>
                                                            <div class="card-shadow-focus mb-1 card card-body card-body-ad">
                                                            <div class="row">
                                                                <div class="col-md-2 col-xl-2 card card-img-ad"  onclick="location.href='/ad/<%= user.favorites[i]._id %>';">
                                                                    <% if(user.favorites[i].photos.length > 0) { %>
                                                                    <img class="img-ad" src="/uploads/<%= user.favorites[i].photos[0] %>" alt="Image Principale" />
                                                                    <% } else { %>
                                                                    <img class="img-ad" src="/images/input-file-photo.png" alt="Image Principale"/>
                                                                    <% } %>
                                                                </div>
                                                                <div class="col-md-10 col-xl-10">
                                                                    <div class="card-header d-block">
                                                                        <h5 class="float-left mt-3 text-truncate w-75"  onclick="location.href='/ad/<%= user.favorites[i]._id %>';"><%= user.favorites[i].title %></h5>
                                                                        <div class="btn-actions-pane-right actions-icon-btn">
                                                                            <button type="button" class="btn-icon btn btn-link btn-sm float-right rounded-pill mt-3" onclick="">
                                                                                <span class="btn-icon-wrapper">
                                                                                    <i id="<%= user.favorites[i]._id %>" class="fas fa-heart"></i>
                                                                                </span>
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                    <div class="card-footer d-block"  onclick="location.href='/ad/<%= user.favorites[i]._id %>';">
                                                                        <a class="float-left font-weight-bold"><%= user.favorites[i].price %> $</a>
                                                                        <div class="float-right mb-2 mr-2 badge badge-pill badge-focus"><%= user.favorites[i].date.toLocaleDateString('en-US') %></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <% } %>
                                                        <% } %>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1 col-xl-1"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('footer'); -%>