<%- include('layout'); -%>

<head>
    <title>Notation</title>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".rating").starRating({
                initialRating: 4,
                strokeColor: '#ff9511',
                strokeWidth: 10,
                starSize: 25,
                disableAfterRate: false
            });
        });
    </script>
</head>
<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title bg-antique-white">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-star icon-gradient bg-ripe-malin">
                        </i>
                    </div>
                    <div>Notation</div>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane tabs-animation fade show active" id="tab-content-1" role="tabpanel">
                <div class="row">
                    <!-- Contenu de la page -->
                    <div class="col-md-3 col-xl-3"></div>
                    <div class="col-md-6 col-xl-6 text-center">
                        <% if(user.username === annonce.author.username) { %>
                            <div class="main-card mb-3 mt-3 card border border-focus card-create-ad">
                                <div class="card-title text-center">
                                    <div class="card-header">
                                        <h5 class="mx-auto">Terminer officiellement la transaction</h5>
                                    </div>
                                </div>     
                                <div class="card-body mt-3 pb-0">
                                    <form id="formCompleteAd" action="/rating/<%= annonce._id %>/" onsubmit="this.action += $('.rating').starRating('getRating'); return true;" method="post">
                                        <h3 class="text-center mb-3"><u><%= annonce.title %></u></h3>
                                        <label class="mt-3">Donner une note de 0 à 5</label>
                                        <div class="rating mb-3"></div>
                                        <div class="form-row mt-3">
                                            <div class="col-md-3"></div>
                                            <div class="col-md-6 mt-3 mb-3">
                                                <div class="position-relative form-group">
                                                    <label for="pseudonyme">Entrez le pseudonyme avec qui vous avez fait la transaction</label>
                                                    <input type="text" class="form-control w-50 mx-auto" name="pseudonyme" required="required">
                                                    <h3 style="color:red; font-weight: bold"><%= err %></h3>
                                                </div>
                                            </div>
                                            <div class="col-md-3"></div>
                                        </div>
                                        <div class="card-footer text-center">
                                            <input id="CompleteAd" type="submit" class="btn btn-success btn-center" value="Terminer"/>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        <% } else { %>
                        <div class="main-card mb-3 mt-3 card border border-focus card-create-ad">
                            <div class="card-title text-center">
                                <div class="card-header">
                                    <h5 class="mx-auto">Noter la transaction</h5>
                                </div>
                            </div>     
                            <div class="card-body mt-3 pb-0">
                                <form id="formCompleteAd" action="/ratingAchat/<%= annonce._id %>/" onsubmit="this.action += $('.rating').starRating('getRating'); return true;" method="post">
                                    <h3 class="text-center mb-3"><%= annonce.title %></h3>
                                    <label class="mt-3">Donner une note de 0 à 5</label>
                                    <div class="rating mb-3"></div>
                                    
                                    <div class="card-footer text-center">
                                        <input id="CompleteAd" type="submit" class="btn btn-success btn-center" value="Terminer"/>
                                    </div>
                                </form>
                            </div>

                        </div>
                        <% } %>
                    </div>
                    <div class="col-md-3 col-xl-3"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('footer'); -%>