<%- include('layout'); -%>

<head>
    <title>Inscription</title>
    <script src="/scripts/jquery-input-mask-phone-number.min.js"></script>
    <script src="/js/area_code.js"></script>
    <script type="text/javascript" async>
        $(document).ready(function () {
            <% if (locals.infos) { %>
                $("#accountProvince").val('<%= infos.province %>');
            <% } %>

            $('form').on('submit', async function(event) {
                event.preventDefault();
                document.getElementById('accountAddress').classList.remove("border-danger");
                document.getElementById('accountCity').classList.remove("border-danger");
                document.getElementById('accountProvince').classList.remove("border-danger");
                document.getElementById('accountPostalCode').classList.remove("border-danger");
                document.getElementById('accountPhoneNumber').classList.remove("border-danger");
                
                var ok = true;

                var address = $("#accountAddress").val();
                var city = $("#accountCity").val();
                var province = $("#accountProvince").val();
                var postalcode = $("#accountPostalCode").val();

                var myAddress = `${address} ${city} ${province} ${postalcode}`;

                var validate = await validateAdress(myAddress);
                if(validate.data.results.length === 0 || validate.data.results[0].partial_match){
                    ok = false;
                    vAdress = await validateAdress(address); console.log(vAdress);
                    vCity = await validateAdress(city);
                    vProvince = await validateAdress(province);
                    vPostalCode = await validateAdress(postalcode);

                    if(vAdress.data.results.length === 0 || vAdress.data.results[0].partial_match) {
                        console.log('err addresse');
                        document.getElementById('accountAddress').classList.add("border-danger");
                    }
                    if(vCity.data.results.length === 0 || vCity.data.results[0].partial_match) {
                        console.log('err city');
                        document.getElementById('accountCity').classList.add("border-danger");
                    }
                    if(vProvince.data.results.length === 0 || vProvince.data.results[0].partial_match) {
                        console.log('err province');
                        document.getElementById('accountProvince').classList.add("border-danger");
                    }
                    if(vPostalCode.data.results.length === 0 || vPostalCode.data.results[0].partial_match) {
                        console.log('err postalcode');
                        document.getElementById('accountPostalCode').classList.add("border-danger");
                    }
                }

                if(!areaCodeInList()){
                    ok = false;
                    console.log('err areacode');
                    document.getElementById('accountPhoneNumber').classList.add("border-danger");
                }

                if(ok) {
                    this.submit();    
                }
            });

            async function validateAdress(location) {
                var response = await axios.get('https://maps.googleapis.com/maps/api/geocode/json',{
                    params:{
                        address: location,
                        key:'AIzaSyDKzgkeYgTfLIGnpd7SqbXjz2K-5X45rFY'
                    }
                })
               return response;
            }

            $("#Password").keyup(function() {

                var degré = 0;
                var char = $("#Password").val();

                if($("#Password").val().match(/\d+/g)){
                    degré++;
                }

                if($("#Password").val().match(/[a-z]/g)){
                    degré++;
                }

                if($("#Password").val().match(/[A-Z]/g)){
                    degré++;
                }

                if($("#Password").val().length >= 8){
                    degré++;
                }

                if($("#Password").val() == ""){
                    degré = 0;
                }

                $("#password-text").text("Le mot de passe doit avoir au minimum 8 caractères, contenir au moins une lettre majuscule, minuscule et un chiffre.");
                $("#inscrireButton").prop("disabled", true);

                if(degré == 1){
                    $("#password-bar").css("background", "#d14c4c");
                    $("#password-text").css("color", "#d14c4c");
                    $("#password-bar").css("width", "25%");
                } else if(degré == 2){
                    $("#password-bar").css("background", "#ff5733");
                    $("#password-text").css("color", "#ff5733");

                    $("#password-bar").css("width", "50%");
                } else if(degré == 3){
                    $("#password-bar").css("background", "#ffc305");
                    $("#password-text").css("color", "#ffc305");
                    $("#password-bar").css("width", "75%");
                } else if(degré == 4){
                    $("#password-bar").css("background", "#74d14c");
                    $("#password-text").text("");
                    $("#password-bar").css("width", "100%");

                    $("#inscrireButton").prop("disabled", false);
                } else {
                    $("#password-bar").css("width", "0%");
                    $("#password-text").text("");
                }

            });

            $('#accountPhoneNumber').usPhoneFormat({
                format: '(xxx) xxx-xxxx',
            });
            
        });
        function areaCodeInList(){
                let inListBool = false;
                let phoneNumber = $("#accountPhoneNumber").val();
                let areaCode = phoneNumber.substring(1, 4);
                let isNumber = !isNaN(Number(areaCode));
                if(isNumber)
                    inListBool = areaCodeList.includes(Number(areaCode));
                return inListBool;
            }
        
        function validateKey(event) {
            var char = (event.which) ? event.which : event.keyCode;

            if ((char >= 48 && char <= 57))
                return false;
            return true;
        }
    </script>
</head>
<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title bg-antique-white">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-display2 icon-gradient bg-ripe-malin">
                        </i>
                    </div>
                    <div>Inscription</div>
                </div>
            </div>
        </div>

        <div class="tab-content">
            <div class="tab-pane tabs-animation fade show active" id="tab-content-1" role="tabpanel">
                <div class="row">
                    <div class="col-md-3 col-xl-3"></div>
                    <div class="col-md-6 col-xl-6">
                        <h4 class="text-center"><u>Veuillez remplir les informations suivantes :</u></h4>
                        <div class="main-card mb-3 mt-3 card card-inscription">
                            <div class="card-body">
                                <form class="needs-validation" action="/register" method="POST">
                                    <div class="form-row">
                                        <div class="col-md-4">
                                            <div class="position-relative form-group">
                                                <label for="accountLastName" class="required">Nom</label>
                                                <input name="lastname" id="accountLastName" type="text" class="form-control" onkeypress="return validateKey(event)" required="required"
                                                       <% if (locals.infos) { %> value="<%= infos.nom %>"<% } %>>

                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="position-relative form-group">
                                                <label for="accountFirstName" class="required">Prénom</label>
                                                <input name="firstname" id="accountFirstName" type="text" class="form-control"  onkeypress="return validateKey(event)" required="required"
                                                       <% if (locals.infos) { %> value="<%= infos.prenom %>"<% } %>>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="position-relative form-group">
                                                <label for="accountUserName" class="required">Nom d'utilisateur</label>
                                                <input name="username" id="accountUserName" type="text" class="form-control" required="required"
                                                       <% if (locals.infos) { %> value="<%= infos.username %>"<% } %>>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="divider"></div>
                                    <div class="position-relative form-group">
                                        <label for="accountAddress" class="required">Addresse</label>
                                        <input name="address" id="accountAddress" type="text" class="form-control" <% if (locals.infos) { %> value="<%= infos.address %>"<% } %>>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-6">
                                            <div class="position-relative form-group">
                                                <label for="accountCity" class="required">Ville</label>
                                                <input name="city" id="accountCity" type="text" class="form-control"<% if (locals.infos) { %> value="<%= infos.city %>"<% } %>>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="position-relative form-group">
                                                <label for="accountProvince" class="required">Province</label>
                                                <select name="province" id="accountProvince" class="mb-2 form-control" required="required">
                                                    <option value="">Choisir...</option>
                                                    <option value="AB">Alberta</option>
                                                    <option value="BC">British Columbia</option>
                                                    <option value="MB">Manitoba</option>
                                                    <option value="NB">New Brunswick</option>
                                                    <option value="NL">Newfoundland and Labrador</option>
                                                    <option value="NS">Nova Scotia</option>
                                                    <option value="ON">Ontario</option>
                                                    <option value="PE">Prince Edward Island</option>
                                                    <option value="QC">Quebec</option>
                                                    <option value="SK">Saskatchewan</option>
                                                    <option value="NT">Northwest Territories</option>
                                                    <option value="NU">Nunavut</option>
                                                    <option value="YT">Yukon</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="position-relative form-group">
                                                <label for="accountPostalCode" class="required">Code Postal</label>
                                                <input name="postalcode" id="accountPostalCode" type="text" class="form-control" placeholder="X1X 1X1" pattern="[a-zA-Z][0-9][a-zA-Z] [0-9][a-zA-Z][0-9]" <% if (locals.infos) { %> value="<%= infos.postalcode %>"<% } %>>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="divider"></div>
                                    <div class="form-row">
                                        <div class="col-md-6">
                                            <% if (locals.errorType == "email") { %>
                                            <div class="position-relative form-group">
                                                <label for="accountEmail" class="required">Courriel </label>
                                                <input name="email" id="accountEmail" type="email" class="form-control is-invalid" required="required" <% if (locals.infos) { %> value="<%= infos.courriel %>"<% } %>>
                                                <div class="invalid-feedback">
                                                    <%= locals.error %>
                                                </div>
                                            </div>
                                            <% } else { %>
                                            <div class="position-relative form-group">
                                                <label for="accountEmail" class="required">Courriel </label>
                                                <input name="email" id="accountEmail" type="email" class="form-control" required="required" <% if (locals.infos) { %> value="<%= infos.courriel %>"<% } %>>
                                            </div>
                                            <% } %>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="position-relative form-group">
                                                <label for="accountPhoneNumber" class="">Téléphone</label>
                                                <input name="phonenumber" id="accountPhoneNumber" type="text" class="form-control" placeholder="(123) 456-7890" pattern="\([0-9]{3}\) [0-9]{3}-[0-9]{4}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="divider"></div>
                                    <div class="form-row">
                                        <% if (locals.errorType == "passwords") { %>
                                        <div class="col-md-6">
                                            <div class="position-relative form-group">
                                                <label for="Password" class="required">Mot de Passe</label>
                                                <input name="password" id="Password" type="password" class="form-control is-invalid" required="required">
                                                <div class="invalid-feedback">
                                                    <%= locals.error %>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="position-relative form-group">
                                                <label for="Password2" class="required">Confirmez votre mot de passe</label>
                                                <input name="password2" id="Password2" type="password" class="form-control is-invalid" required="required">
                                                <div class="invalid-feedback">
                                                    <%= locals.error %>
                                                </div>
                                            </div>
                                        </div>
                                        <% } else { %>
                                        <div class="col-md-6">
                                            <div class="position-relative form-group">
                                                <label for="Password" class="required">Mot de Passe</label>
                                                <input name="password" id="Password" type="password" class="form-control" required="required">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="position-relative form-group">
                                                <label for="Password2" class="required">Confirmez votre mot de passe</label>
                                                <input name="password2" id="Password2" type="password" class="form-control" required="required">
                                            </div>
                                        </div>
                                        <% } %>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-12 text-center">
                                            <div id="password-level">
                                                <div id="password-bar"></div><br>
                                            </div>
                                            <div id="password-text"></div>
                                        </div>
                                    </div>
                                    <div class="divider"></div>
                                    <button id="inscrireButton" class="mt-2 btn btn-success btn-center" disabled>S'inscrire</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xl-3">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('footer'); -%>
