<%- include('layout'); -%>
<head>
    <title>Profile de <%= userpage.username; %></title>

    <script type="text/javascript">
        $( document ).ready(function() {
            setModalContact();

            // Afficher la pop-up d'édition
            function setModalContact(){
                var container = document.getElementsByClassName("app-container");

                container[0].innerHTML += '<div class="modal fade" id="modalContact" tabindex="-1" role="dialog" aria-labelledby="modalContactLabel" aria-hidden="true"> <div class="modal-dialog modal-dialog-edit-infos" role="document"><div class="modal-content"> <div class="modal-header text-center"> <h5 class="modal-title w-100" id="modalContactLabel">Contacter \<%= userpage.username; %></h5> <button type="button" class="close text-danger" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">×</span></button></div><div class="success-checkmark mt-5 d-none"> <div class="check-icon "> <span class="icon-line line-tip"></span> <span class="icon-line line-long"></span> <div class="icon-circle"></div><div class="icon-fix"></div></div></div><svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2" class="error-mark mt-5 d-none"> <circle class="path circle" fill="none" stroke="#D06079" stroke-width="4" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"/> <line class="path line" fill="none" stroke="#D06079" stroke-width="4" stroke-linecap="round" stroke-miterlimit="10" x1="34.4" y1="37.9" x2="95.8" y2="92.3"/> <line class="path line" fill="none" stroke="#D06079" stroke-width="4" stroke-linecap="round" stroke-miterlimit="10" x1="95.8" y1="38" x2="34.4" y2="92.2"/> </svg> <h4 class="text-center d-none mb-5" id="pageMessage"></h4><form action="/contact/user/\<%= userpage.username; %>" method="post" id="contactForm" enctype="multipart/form-data"> <div class="modal-body"> <div class="form-row"> <div class="col-md-4"></div><div class="col-md-4"> <div class="position-relative form-group"> <label for="name" class="required">Nom</label> <input name="name" id="inp-name" type="text" class="form-control" required="required" \<% if (locals.user){%> value="<%=user.firstname %> <%=user.lastname %>"\<% } %>> </div></div><div class="col-md-4"></div></div><div class="form-row"> <div class="col-md-3"></div><div class="col-md-6"> <div class="position-relative form-group"> <label for="email" class="required">Courriel</label> <input name="courriel" id="inp-email" type="email" class="form-control" required="required" \<% if (locals.user){%> value="<%=user.courriel %>"\<%}%>> </div></div><div class="col-md-3"></div></div><div class="form-row"> <div class="col-md-1"></div><div class="col-md-10"> <div class="position-relative form-group"> <label for="message" class="required">Message</label> <textarea rows="4" name="message" class="form-control" required="required" id="text-area-message"></textarea> </div></div><div class="divider"></div><div class="modal-footer text-center w-100"> <button type="button" class="btn btn-link text-danger btn-center float-left" data-dismiss="modal">Annuler</button> <input type="submit" class="btn btn-outline-success btn-center float-right" value="Envoyer"/> </div></div></form> </div></div></div>';
            }

            // Permet d'appeller la route qui contacte un utilisateur
            $('#contactForm').on('submit', (event) => {
                event.preventDefault();
                const data = $('#contactForm').serialize();
                const url = '/contact/user/' + '<%= userpage.username; %>';
                console.log(data);

                $.ajax({
                    method: 'post',
                    url: url,
                    data: data,
                    contentType: 'application/x-www-form-urlencoded',
                    success: function(data) {
                        if(data.messageType == "inputs") {

                        } else if(data.messageType === "error") {
                            display_failed(data);
                        } else if(data.messageType === "success") {
                            display_success(data);
                        }
                    },
                    error: function() {
                        alert("Oups! Un problème est survenu. Réessayez plus tard!");
                    }
                })
            });

            // Permet d'initialiser les étoiles
            $(".my-rating").starRating({
                totalStars: 5,
                starShape: 'rounded',
                initialRating: setUserRating(),
                starSize: 25,
                readOnly: true,
                useGradient: false
            });

            // Fonction permettant d'afficher les étoiles de réputation de l'utilisateur
            function setUserRating(){
                var ratingList = [<%= userpage.ratings %>];
                var avgRating = 0;
                if(ratingList != null){
                    ratingList.forEach(rating => {
                        avgRating += rating;
                    });
                }

                $(".my-rating").attr("data-toggle", 'tooltip');
                $(".my-rating").attr("data-placement", 'bottom');
                if($.isNumeric(avgRating / ratingList.length)){
                    $(".my-rating").attr("data-original-title", ((avgRating / ratingList.length).toFixed(1)).toString() + ' / 5');
                } else {
                    $(".my-rating").attr("data-original-title", '0 / 5');
                }

                return avgRating / ratingList.length;
            }

            function display_success(data){
                $('#contactForm').addClass("d-none");
                $('.success-checkmark').removeClass("d-none");
                $('#pageMessage').removeClass("d-none");
                $('#pageMessage').addClass("text-success");
                $('#pageMessage').html(data.message);
            }           

            function remove_success(){
                $('#contactForm').removeClass("d-none");
                $('.success-checkmark').addClass("d-none");
                $('#pageMessage').addClass("d-none");
                $('#pageMessage').removeClass("text-success");
                $('#pageMessage').html("");
                $('#text-area-message').val("");
            }            

            function display_failed(data){
                $('#contactForm').addClass("d-none");
                $('.error-mark').removeClass("d-none");
                $('#pageMessage').removeClass("d-none");
                $('#pageMessage').addClass("text-danger");
                $('#pageMessage').html(data.message);
            }           

            function remove_failed(){
                $('#contactForm').removeClass("d-none");
                $('.error-mark').addClass("d-none");
                $('#pageMessage').addClass("d-none");
                $('#pageMessage').removeClass("text-danger");
                $('#pageMessage').html("");
                $('#text-area-message').val("");
            }

            $("#btnContact").click(function(){
                remove_success();
                remove_failed();
            });
        });

    </script>
</head>
<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title bg-antique-white">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-display2 icon-gradient bg-ripe-malin">
                        </i>
                    </div>
                    <div>Profile de <%= userpage.username; %></div>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane tabs-animation fade show active" id="tab-content-1" role="tabpanel">
                <div class="row">
                    <!-- Contenu de la page -->
                    <div class="col-md-2 col-xl-2"></div>
                    <div class="col-md-8 col-xl-8">
                        <div class="main-card card mb-3 mt-1 card-shadow-focus card-profile">
                            <div class="card-header profile-card-header card-header-profile pr-0">
                                <div class="profile-card pr-0 pl-0">
                                    <div class="row w-100 mr-0 ml-0">
                                        <div class="col-md-1 col-lg-1 col-xl-1 p-0">
                                            <div class="profile-card-avatar mr-3">
                                                <div class="avatar-rounded">
                                                    <!--                                            <img src="#" alt="Avatar" witdh="30" height="30"/>-->
                                                    <i class="pe-7s-user icon-gradient bg-malibu-beach" style="font-size: 3.5rem;"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-lg-4 col-xl-4 p-0">
                                            <div class="profile-card-infos text-focus pt-2 pb-2">
                                                <h5 class="float-left w-100 mb-0"><%= userpage.lastname.substring(0, 1).toUpperCase(); %><%= userpage.lastname.substring(1); %> <%= userpage.firstname; %> </h5>
                                                <h6 class="profile-card-role">@<%= userpage.username; %></h6>
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-lg-2 col-xl-2 p-0 text-center" style="right: 0.9%;">
                                            <div class="my-rating"></div>
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-xl-3 p-0 pt-3"></div>
                                        <div class="col-md-1 col-lg-1 col-xl-1 p-0 pt-3">
                                            <div class="menu-header-btn-pane">
                                                <button type="button" class="rounded-pill btn btn-info" data-toggle="modal" data-target="#modalContact" id="btnContact">Contacter</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>  
                            <div class="card-body profile-card-body mt-3 mb-3">
                                <form class="">
                                    <div class="form-row">
                                        <% if (userpage.phone != "") { %>
                                        <div class="col-md-6 text-center border-right">
                                            <a class="font-weight-bold"><u>Adresse</u></a>
                                            <br>
                                            <br>
                                            <a><%= userpage.city %></a>
                                            <a>(<%= userpage.province %>)</a>
                                            <a><%= userpage.postalcode %></a>
                                            <br>
                                            <a>CANADA</a>
                                        </div>
                                        <div class="col-md-6 text-center">
                                            <a class="font-weight-bold"><u>Téléphone</u></a>
                                            <br>
                                            <br>
                                            <a><%= userpage.phone %></a>
                                        </div>
                                        <% } else { %>
                                        <div class="col-md-12 text-center">
                                            <a class="font-weight-bold"><u>Adresse</u></a>
                                            <br>
                                            <br>
                                            <a><%= userpage.city %></a>
                                            <a>(<%= userpage.province %>)</a>
                                            <a><%= userpage.postalcode %></a>
                                            <br>
                                            <a>CANADA</a>
                                        </div>
                                        <% } %>
                                    </div>
                                </form>
                            </div>
                            <div class="card-footer profile-card-footer">
                                <div class="row w-100">
                                    <div class="col-md-12 col-xl-12">
                                        <div class="main-card mb-3 mt-3 card card-scroll-area-ad">
                                            <div class="card-header">
                                                <i class="header-icon lnr-laptop-phone icon-gradient bg-plum-plate"> </i>
                                                Annonces en ligne : <%= userpage.annonces.length %><br>
                                            </div>
                                            <div class="card-body">
                                                <div class="scroll-area-sm scroll-area-ad">
                                                    <div class="scrollbar-container ps--active-y ps">
                                                        <% for(var i=0; i < userpage.annonces.length; i++) { %>
                                                            <% if(!userpage.annonces[i].verif){ %>
                                                            <div class="card-shadow-focus mb-1 card card-body card-body-ad" onclick="location.href='/ad/<%= userpage.annonces[i]._id %>';">
                                                            <div class="row">
                                                                <div class="col-md-2 col-xl-2 card card-img-ad">
                                                                    <% if(userpage.annonces[i].photos.length > 0) { %>
                                                                    <img class="img-ad" src="/uploads/<%= userpage.annonces[i].photos[0] %>" alt="Image Principale" />
                                                                    <% } else { %>
                                                                    <img class="img-ad" src="/images/input-file-photo.png" alt="Image Principale"/>
                                                                    <% } %>
                                                                </div>
                                                                <div class="col-md-10 col-xl-10">
                                                                    <div class="card-header d-block">
                                                                        <h5 class="float-left mt-3 text-truncate"><%= userpage.annonces[i].title %></h5>
                                                                    </div>
                                                                    <div class="card-footer d-block">
                                                                        <a class="float-left font-weight-bold"><%= userpage.annonces[i].price %> $</a>
                                                                        <div class="float-right mb-2 mr-2 badge badge-pill badge-focus"><%= userpage.annonces[i].date.toLocaleDateString('en-US') %></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <% } %>
                                                        <% } %>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-xl-2"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('footer'); -%>