/* ***** GÉNÉRAL ***** */

*{
    margin:0;
    padding:0;
}

body {
    display : table !important;
    width: 100% !important;
    background-color: #fff9e8;
}

.btn-center{
    margin: 0 auto !important;
    display: block !important;
}

.container-center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.footer{
    background-color: #343a40ab !important;
}

footer.fixed-bottom{
    z-index: 1 !important;
}

.app-theme-white.app-container {
    background: none !important;
}


body::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #1e2023;
}

.hamburger-inner::before{
    background-color: #343a40!important;
}

.hamburger-inner::after{
    background-color: #343a40!important;
}

.br-25{
    border-radius: 25px;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
input[type="tel"],
select, textarea{
    border-radius: 25px !important;
}
/**********************/
/* ***** LAYOUT ***** */
/**********************/

#homeLink{
    position: absolute;
    left: 40%;
    color: white;
    max-width: 25%;
    height: 100%;
    cursor: pointer;
}

.app-header__logo{
    width: 271px;
}

#btn-login-inscription{
    background-color: white;
    padding: 21px;
    border-radius: 50px 0px 0px 50px;
}
#sidebarMenu, #sidebarUser{
    min-width: 75px;
    max-width: 75px;
    background-color: #ffffff;
    position: fixed;
    height: 100vh;
    transition: all 0.3s;
    text-align: center;
}

#sidebarMenu li, #sidebarUser li{
    padding: 10px;
}

#sidebarMenu.active, #sidebarUser.active{
    min-width: 125px !important;
}

#sidebarMenu{
    top: 0;
    left: 0;
    z-index: 1;
    transition: all 0.3s;
}

#sidebarUser{
    top: 0;
    right: 0;
    z-index: 1;
    transition: all 0.3s;
}

#dashContent{
    max-width: 80%;
    margin: 0 auto;
    margin-top: 15%;
}

.dash-card-button:hover {
    transition: all 200ms ease-in;
    transform: scale(1.1);
}
.dash-card-button > .card{
    cursor: pointer;
}

#cardMessages .card-header{
    color: white;
}

.sidebar-content{
    text-transform: uppercase;
    font-size: .8rem;
    margin: .75rem 0;
    font-weight: bold;
}

#messBut{
    margin-left: 0px !important;
    color: dodgerblue!important;
    opacity: 1;
    font-weight: bold;       
}

#messLi{
    position: fixed;
    bottom: 1%;
}

#messLi:hover{
    width: 232px;
}

#dashLi{
    position: fixed;
    bottom: 7%;
}

#dashLi:hover{
    width: 232px;
}

#favLi{
    position: fixed;
    bottom: 13%;
}

#favLi:hover{
    width: 232px;
}

#favBut{
    color: #dd4949 !important;
    opacity: 1;
}
.dash-card{
    padding: 0px 10px 10px 0px !important;
}

.dash-card-body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0;
}
#tab-content-1 > div > div:nth-child(1) > div > div.card-body > div > table > tbody > tr{
    cursor: pointer;
}

#dashBut{
    margin-left: 0px !important;
    color: #fa4300;
    opacity: 1;
    font-weight: bold;       
}

li.fixed-bottom{
    right: initial !important;
    left: initial !important;
}

.app-sidebar-li{
    padding-top: 12px !important;
}

.app-sidebar-icon{
    opacity: 1 !important;
}

.app-page-title {
    padding: 15px !important;
}

#bottomHeadingMess{
    position: fixed;
    bottom: 6%;
    width: 32px;
}

#bottomHeadingDash{
    position: fixed;
    bottom: 5%;
    width: 32px;
}

#middleHeadingDash{
    position: fixed;
    bottom: 11%;
    width: 32px;
}

#imgLogo{
    top: 4%;
    position: absolute;
    left: 1%;
}

#btn-home-container,
#btn-new-ad-container{
    height: 42px;
    width: 42px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-in-out;
}

#btn-home,
#btn-new-ad{
    width: 42px;
    height: 42px;
    border: none;
    padding: 0;
    outline: none;
    position: relative;
    z-index: 2;
    float: right;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background: none;
    border-radius: 30px;
    color: #74d14c;
    font-weight: bold;
    font-size: 2em;

}

.dropdown-item.active, .dropdown-item:active {
    color: black;
    text-decoration: none;
    background-color: #08080824;
}

.search-wrapper{
    margin: 0 20px !important;
}
.search-wrapper .input-holder .search-icon span::before{
    background: #74d14c !important;
}
.search-wrapper .input-holder .search-icon span::after{
    border-color: #74d14c !important;
}

.search-wrapper .close::before, .search-wrapper .close::after{
    background: #74d14c !important;
}

.search-wrapper.active .close{
    opacity: 1 !important;
}

.search-wrapper.active .input-holder{
    background: #fff !important;
}

.search-wrapper .input-holder .search-icon{
    background: none !important;
}

#btn-home:hover,
.search-wrapper .input-holder .search-icon:hover{
    background: #eeeeee !important;
}

.fixed-sidebar .app-main .app-main__outer {
    padding-left: 220px;
}

.closed-sidebar.fixed-sidebar .app-main__outer {
    padding-left: 80px;
}

.header-user-info{
    cursor: pointer;
}

@media only screen and (min-width: 1200px){
    .header-user-info {
        display: initial;
    }
}

@media only screen and (max-width: 1200px){
    .header-user-info {
        display: none;
    }
}

.modal-dialog-centered{
    box-shadow: none !important;
}


/********************/
/* ***** HOME ***** */
/********************/

#cardBodyHomeBiens,
#cardBodyHomeServices{
    min-height: 680px !important;
    max-height: 680px !important;
}

#cardBodyHomeServices .card-body-ad:hover,
#cardBodyHomeBiens .card-body-ad:hover {
    border: 1px solid #b2edbf;
}

#cardBodyHomeServices .card-body-ad img,
#cardBodyHomeServices .card-body-ad h5,
#cardBodyHomeServices .card-body-ad .card-footer,
#cardBodyHomeBiens .card-body-ad img,
#cardBodyHomeBiens .card-body-ad h5,
#cardBodyHomeBiens .card-body-ad .card-footer{
    cursor: pointer;
}

#cardBodyHomeServices .card-body-ad .card-header i,
#cardBodyHomeBiens .card-body-ad .card-header i{
    font-size: 2em;
    color: #74d14c;
}

/*********************/
/* ***** BIENS ***** */
/*********************/
#filterDatePrepend{
    cursor: pointer;
}

#filterDatePrepend span{
    font-size: 1.5rem !important;
}

#filterDate{
    width: 18%;
}

#filterDatePlusRecent,
#filterDateMoinsRecent{
    line-height: 90%;
}

#filterCategories button{
    min-width: 100px;
}

#filterPriceMin,
#filterPriceMax{
    border-radius: 0px !important;
}

#searchPrice{
    border-radius: 0px 25px 25px 0px;
}

.filter-price-search{
    font-size: 1.5rem;
    transform: rotate(90deg);
}

#filterAvecPhotos,
#filterSansPhotos{
    color: #444054 !important;;
}

#filterAvecPhotos:hover,
#filterSansPhotos:hover{
    color: #444054;
    background-color: #74d14c !important;
}

#dateButtonAsc,
#dateButtonDesc{
    color: #444054 !important;;
}

#dateButtonAsc:hover,
#dateButtonDesc:hover{
    color: #444054;
    background-color: #74d14c !important;
}
/**
* Dark Theme for pika datepicker
*/
.pika-single.dark-theme {
    color: #fff;
    background: #333;
    border: 1px solid #666;
    border-bottom-color: #999;
}

.dark-theme .pika-label {
    background-color: #333;
}

.dark-theme .pika-prev,
.dark-theme .is-rtl .pika-next {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAQAAACGG/bgAAAAQ0lEQVR4Ae3KIQ4AIBTD0N0/IeHGI3UIRA3ut/Zl+ltXc5++htVAmIAwAWECwgSEKbgthEoIlRAqIVRCqINQB9nDgQd7ktwFo6UpWQAAAABJRU5ErkJggg==');
}

.dark-theme .pika-next,
.dark-theme .is-rtl .pika-prev {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAQAAACGG/bgAAAAP0lEQVQ4y+3TMQoAMAgEwfwfAvvjTZ1uGzuvHhBPPGczEG+FRqqRaqQaqUaqkX6QBmmjacvQ6qEVTjsh+xizebvlaWptGXZAAAAAAElFTkSuQmCC');
}

.dark-theme .pika-table th {
    color: #999;
}

.dark-theme .pika-button {
    color: #fff;
    background: #222;
}

.dark-theme .pika-week {
    color: #999;
}

.dark-theme .is-today .pika-button {
    color: #33aaff;
}

.dark-theme .is-selected .pika-button {
    color: #fff;
    background: #33aaff;
    box-shadow: inset 0 1px 3px #178fe5;
}

.dark-theme .is-disabled .pika-button {
    color: #999;
    opacity: .3;
}

.dark-theme .pika-button:hover {
    color: #fff !important;
    background: #ff8000 !important;
}

#cardBodyBiens .card-body-ad img,
#cardBodyBiens .card-body-ad h5,
#cardBodyBiens .card-body-ad .card-footer{
    cursor: pointer;
}

#cardBodyBiens .card-body-ad:hover {
    border: 1px solid #b2edbf;
}

#cardBodyBiens .card-body-ad .card-header i{
    font-size: 2em;
    color: #74d14c;
}
/************************/
/* ***** SERVICES ***** */
/************************/
#cardBodyServices .card-body-ad img,
#cardBodyServices .card-body-ad h5,
#cardBodyServices .card-body-ad .card-footer{
    cursor: pointer;
}

#cardBodyServices .card-body-ad:hover{
    border: 1px solid #b2edbf;
}

#cardBodyServices .card-body-ad .card-header i{
    font-size: 2em;
    color: #74d14c;
}

/*********************/
/* ***** LOGIN ***** */
/*********************/

.keep-login{
    padding-bottom: 10px;
}

.col-open-session{
    border-right: 1px solid black;
}
#loginLogo{
    top: 17%;
    left: 39%;
    z-index: 1;
    transform: rotate(-6deg);
    height: calc(100vh - 570px);
}

.img-ad-home{
    height: auto;
    border-radius: 83px;
    margin: auto;
    max-width: 100%;
    cursor: pointer;
    padding: 5px 0;
}
/***************************/
/* ***** INSCRIPTION ***** */
/***************************/

form input.required::before,
form label.required::before{
    color: red;
    content: "* ";
}

.card-inscription{
    height: 685 px !important;
}

.card-body-login{
    padding-top: 200px;
}

.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff !important;
    border-color: #74d14c !important;
    background-color: #74d14c !important;
}

/**********************/
/* ***** PROFIL ***** */
/**********************/

.btn-edit-infos{
    margin: 40px auto !important;
}

.modal-dialog-edit-infos{
    max-width: 50% !important; 
}

#modalEditInfos .modal-footer{
    display: inherit !important;
}

.card-infos{
    height: 650px !important;
}

.card-header-ads{
    border-bottom: 1px solid black;
}

.card-scroll-area-ad{
    height: 500px;
}

.card-scroll-area-ad .card-body-ad .card-img-ad,
.card-scroll-area-ad .card-body-ad .card-header h5,
.card-scroll-area-ad .card-body-ad .card-footer{
    cursor: pointer;
}

.scroll-area-ad{
    height: 415px !important;
    border-radius: 5px;
    overflow: hidden;
}

.scroll-area-ad .card{
    background-color: transparent;
}

.scroll-area-ad .card-header h5.text-truncate{
    width: 50%;
}

.scroll-area-ad .card:hover{
    border: 1px solid #b2edbf;
}

.card-body-ad{
    padding: 0 1px;
}

.card-body-ad:hover{
    transform: scale(1.01,1.03);
}

.card-footer.d-block{
    padding-bottom: 30px !important;
}

div.card-body > div.row > div.col-md-12{
    max-width: 625px !important;
}

.card-img-ad{
    position: relative;
    left: 15px;
    border-right: 2px dashed #74d14c;
    border-radius: 0 100px 100px 0;
}

.img-ad{    
    border-radius: 83px;
    margin: auto;
    max-width: 100%;
    height: auto;
}

.settings-ad{
    border-radius: 50px;
    padding: 5px;
    -webkit-transition: width 2s;
    transition: width .2s;
    width: 30px;
}

.settings-ad .btn-icon-wrapper{
    display: inline-flex;
}

.settings-ad .btn-icon-wrapper .fa-cog{
    font-size: 1.3em;
    padding: 5px 0 5px 1px ;
}

.settings-ad::after{
    content: none !important;
}

.btn-settings-ad{
    border-radius: 50px;
    padding: 0px;
    background: white;
    border: none;
}

#favourites .card-header i{
    font-size: 2em;
    color: #74d14c;
}

#password-level {
	margin: 0.5em 0;
	height: 10px;
	width: 100%;
    background: #ccc;
}

#password-level #password-bar {
	height: 100%;
    width: 0%;
    transition: all 500ms ease-in;
}

/*****************************/
/* ***** CREER ANNONCE ***** */
/*****************************/

#text-area-descritpion{
    resize: none;
}

.card-create-ad{
    height: auto;
}

#btn-object,
#btn-service{
    width: 150px;
    height: 150px;
    border: none;
    padding: 0;
    outline: none;
    position: relative;
    z-index: 2;
    float: right;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background: rgb(178, 237, 191);
    border-radius: 150px;
    color: black;
    font-weight: bold;
    font-size: 8em;
}

#btn-object:hover,
#btn-service:hover{
    border: 1px solid black;
}

#btn-object-container:hover,
#btn-service-container:hover{
    text-decoration: underline;
}

#btn-object-container,
#btn-service-container{
    height: 200px;
    width: 150px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-in-out;
    float: left;
    margin: 50px
}

#formStep1{
    margin: 0 auto;
    height: 100%;
}

#btn-next-form-step2,
#btn-next-form-step3{
    margin-top: 50px !important;
    font-size: 2.5rem;
    border-radius: 30px;
    cursor: pointer;
    padding: 0;
    float: right;
    position: absolute;
    top: 35%;
    right:00%;
    color: #3ac47d;
}

#btn-prev-form-step2,
#btn-prev-form-step3,
#btn-prev-form-step4{
    margin-top: 50px !important;
    font-size: 2.5rem;
    border-radius: 30px;
    cursor: pointer;
    padding: 0;
    float: right;
    position: absolute;
    top: 35%;
    left: 1%;
    color: #3ac47d;
    z-index: 2;
}

#btn-next-form-step3,
#btn-prev-form-step3{
    top: 30%;
}
.custom-file-label-ad{
    width: 150px;
    height: 150px;
    background: #b2edbf;
    border-radius: 100px;
    position: initial;
}

.custom-file-label-ad::after{
    background: transparent;
    color: transparent;
    border: none;
    margin: 0 auto;
    width: 125px;
    height: 2em;
    top: 65px;
    right: auto;
    bottom: auto;
    height: 115px;
}

#photo1, #photo2, #photo3,
#photo1Check, #photo2Check, #photo3Check{
    width: 146px;
    border-radius: 100px;
    margin-left: 2px;
    margin-top: 1px;
}

#photo1:hover,
#photo2:hover,
#photo3:hover{
    border: 1px solid black;
    cursor: pointer;
}

.custom-file-label-ad:hover,
.custom-file-input:hover{
    border: 1px solid black;
    cursor: pointer;
}

.custom-file-input:disabled ~ .custom-file-label {
    background-color: #b2edbf !important;
}


.input-group-none{
    background: white;
    border: none;
}

.profile-card-body {
    padding: 0;
}

.profile-card-header{
    height: 100%;
    width: 100%;
    z-index: 8;
}
.profile-card-footer{
    height: 525px;
}

.profile-card{
    padding: .5rem;
    padding: .5rem;
    display: flex;
    align-content: center;
    align-items: center;
    text-align: left;
    position: relative;
    z-index: 10;
    color: #fff;
    width: 100%;
}

.profile-card-avatar{
    display: inline-block;
    position: relative;
}

.avatar-rounded{
    display: block;
    width: 56px;
    height: 56px;
    border-radius: 100px !important;
    border: #fff solid 3px;
    overflow: hidden;
    opacity: 1;
    cursor: pointer;
}

.avatar-rounded > img{
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border-style: none;
}

.profile-card-infos{
    cursor: pointer;
}

.profile-card-role{
    margin: 5px 0 0;
    opacity: .8;
}

.list-group-item:hover {
    z-index: initial;
}

.list-group-flush .list-group-item {
    border-right: 0;
    border-left: 0;
    border-radius: 0;
}

.list-group-item:hover, .list-group-item:focus {
    text-decoration: none;
}

.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.125);
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.grid-menu .btn {
    display: block;
    border: 0;
    min-width: 100%;
    padding: 20px !important;
    font-size: 15px;
}

.btn-icon-vertical.btn-transition-text.btn-transition-alt:hover .btn-icon-wrapper {
    color: #fff !important;
}

.btn-icon-vertical.btn-transition-text:hover .btn-icon-wrapper {
    transform: scale(1.3);
}

.btn-icon-vertical.btn-transition-text .btn-icon-wrapper {
    transition: all .2s !important;
}

.btn-icon-vertical .btn-icon-wrapper {
    display: block;
    font-size: 200%;
    margin: 5px 0;
    opacity: .6;
}

.profile-card-border-rb{
    border-right: #dee2e6 solid 1px;
    border-bottom: #dee2e6 solid 1px;
}

.profile-card-border-r{
    border-right: #dee2e6 solid 1px;
}

.profile-card-border-b{
    border-bottom: #dee2e6 solid 1px;
}

/***********************/
/* ***** ANNONCE ***** */
/***********************/
.scroll-area-ad-details{
    height: 200px;
}

.card-header-ad-seller{
    height: 60px !important;
    border-radius: 0 5px 25px 0 !important;
    border-bottom: 1px dashed black;
}

.card-footer-ad-seller{
    border-radius: 0 0 5px 0 !important;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #eeeeee61 !important;
    height: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.card-header-ad-details{
    border-radius: 5px 0 0 25px !important;
    height: 60px;
    border-bottom: 1px dashed black;
}

.card-footer-ad-details{
    background-color: #eeeeee61 !important;
}

.card-header-ad-seller .font-icon-wrapper{
    cursor: pointer;
}

.card-ad-details,
.card-seller{
    height: auto;
    min-height: 94%;
}

.body-infos-seller{
    background-color: #eeeeee61 !important;
}

.card-ad-details{
    border-radius: 5px 0 0 5px !important;
    border-right: 1px dashed #74d14c !important;
}

.card-seller{
    border-radius: 0 5px 5px 0 !important;
    border-left: none !important;
}

.row-ad-infos{
    height: 100%
}

#btn-contact-seller-container{   
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-in-out;
    margin-left: 55%;
    height: 100%;
    background-color: antiquewhite;
    border-left: 1px dashed black;
    border-radius: 50px 5px 29px 50px;
}

@media screen and (min-width: 1280px) {
    #btn-contact-seller-container{
        padding: 10px 0px 10px 10px;
        width: 75%;
    }
}

@media screen and (min-width: 1440px) {
    #btn-contact-seller-container{
        padding: 10px 10px 10px 10px;
        width: 75%;
    }
}

@media screen and (min-width: 1900px) {
    #btn-contact-seller-container{
        padding: 10px 0px 10px 0px;
        width: 50%;
    }
}

#btn-contact-seller{
    width: 42px;
    height: 42px;
    border: none;
    padding: 0;
    outline: none;
    position: relative;
    z-index: 2;
    float: right;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background: antiquewhite;
    border-radius: 30px;
    color: #4a99e5;
    font-weight: bold;
    font-size: 1.5em;
}

#btn-fav-ad{
    width: 42px;
    height: 42px;
    border: none;
    padding: 0;
    outline: none;
    position: relative;
    z-index: 2;
    float: left;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background-color: antiquewhite;
    border-radius: 30px;
    color: #74d14c;
    font-weight: bold;
    font-size: 2em;
}

#btn-fav-ad .pe-7s-like{
    font-size: 1.2em;
}
#btn-fav-ad i{
    padding-top: 6px;
    padding-left: 1px;
}

.col-favourite{
    height: 100%;
    background-color: antiquewhite;
    border-right: 1px dashed black;
    border-radius: 5px 50px 50px 40px;
    z-index: 2;
}

@media screen and (min-width: 1280px) {
    .col-favourite{
        padding: 10px 0 10px 2px;
        max-width: 9.33333%;
    }

    .col-title{
        max-width: max-content;
    }
}

@media screen and (min-width: 1440px) {
    .col-favourite{
        padding: 10px 0 10px 5px;
    }
}

@media screen and (min-width: 1900px) {
    .col-favourite{
        padding: 10px 0px 10px 10px;
    }
}

.col-price{
    height: 100%;
    padding: 17px 0 17px 30px;
    background-color: #d2e4f4;
    border-right: 1px dashed black;
    border-radius: 0 50px 50px 50px;
    left: -7%;
    z-index: 1;
}

.col-title{
    height: 100%;
    padding: 18px 0 18px 70px;
    left: -13%;
}

.carousel-ad{
    border-radius: 25px;
    z-index: 2;
}

#carouselAd .carousel-indicators{
    bottom: -35px !important;
}

#carouselAd .carousel-indicators li{
    background-color: #74d14c !important;
}

#carouselAd .carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e") !important;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e") !important;
}

#carouselAd{
    background-color: #eeeeee;
    border-radius: 25px;
}

@media screen and (min-width: 1440px) {
    #carouselAd{
        min-height: 350px;
    }
}

@media screen and (min-width: 1280px) {
    #carouselAd{
        min-height: 250px;
    }
}

.no-photos-ad{
    margin-top: 15%;
    margin-bottom: 15%;
}

@media screen and (min-width: 1440px) {
    #carouselAd{
        background-position: 0 0 !important;
    }
}
@media screen and (max-width: 1440px) {
    #carouselAd{
        background-position: -65px 0 !important;
    }
}

#carouselAd .carousel-control-prev {
    left: -10%;
    background-size: 60% 90%;
    background-repeat: no-repeat;
    background-position: 25% 50%;
    background-image: url(/images/tab-left.png);
}


#carouselAd .carousel-control-next {
    right: -10%;
    background-size: 60% 90%;
    background-repeat: no-repeat;
    background-position: 75% 50%;
    background-image: url(/images/tab-right.png);
}

#carouselAd #carouselTabLeft{
    width: 48px;
    z-index: -1;
}

#carouselAd #carouselTabRight{
    width: 48px;
    z-index: -1;
}

@media screen and (min-width: 1440px) {
    #carouselAd #carouselTabRight{
        left: 27.328px;
    }
}

@media screen and (max-width: 1440px) {
    #carouselAd #carouselTabRight{
        left: 2.328px;
    }
}

@media screen and (min-width: 1440px) {
    #carouselAd #carouselTabLeft{
        right: 27.328px;
    }
}

@media screen and (max-width: 1440px) {
    #carouselAd #carouselTabLeft{
        right: 2.328px;
    }
}


#formContactSeller .form-group input,
#formContactSeller .form-group textarea{
    width: 90%;
}


/************************/
/* *** CONFIRMATION *** */
/************************/
/*

/**
* Success checkmark
* Extracted from: SweetAlert
* Modified by: Istiak Tridip
*/
.success-checkmark {
    width: 80px;
    height: 115px;
    margin: 0 auto;
    top: 26%;
    left: 46%;
}

.success-checkmark .check-icon {
    width: 80px;
    height: 80px;
    position: relative;
    border-radius: 50%;
    box-sizing: content-box;
    border: 4px solid #4caf50;
}

.success-checkmark .check-icon::before {
    top: 3px;
    left: -2px;
    width: 30px;
    transform-origin: 100% 50%;
    border-radius: 100px 0 0 100px;
}

.success-checkmark .check-icon::after {
    top: 0;
    left: 30px;
    width: 60px;
    transform-origin: 0 50%;
    border-radius: 0 100px 100px 0;
    animation: rotate-circle 4.25s ease-in;
}

.success-checkmark .check-icon::before, .success-checkmark .check-icon::after {
    content: '';
    height: 100px;
    position: absolute;
    background: #fff;
    transform: rotate(-45deg);
}

.success-checkmark .check-icon .icon-line {
    height: 5px;
    background-color: #4caf50;
    display: block;
    border-radius: 2px;
    position: absolute;
    z-index: 10;
}

.success-checkmark .check-icon .icon-line.line-tip {
    top: 46px;
    left: 14px;
    width: 25px;
    transform: rotate(45deg);
    animation: icon-line-tip 0.75s;
}

.success-checkmark .check-icon .icon-line.line-long {
    top: 38px;
    right: 8px;
    width: 47px;
    transform: rotate(-45deg);
    animation: icon-line-long 0.75s;
}

.success-checkmark .check-icon .icon-circle {
    top: -4px;
    left: -4px;
    z-index: 10;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    box-sizing: content-box;
    border: 4px solid rgba(76, 175, 80, .5);
}

.success-checkmark .check-icon .icon-fix {
    top: 8px;
    width: 5px;
    left: 26px;
    z-index: 1;
    height: 85px;
    position: absolute;
    transform: rotate(-45deg);
    background-color: #fff;
}

@keyframes rotate-circle {
    0% {
        transform: rotate(-45deg);
    }
    5% {
        transform: rotate(-45deg);
    }
    12% {
        transform: rotate(-405deg);
    }
    100% {
        transform: rotate(-405deg);
    }
}

@keyframes icon-line-tip {
    0% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    54% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    70% {
        width: 50px;
        left: -8px;
        top: 37px;
    }
    84% {
        width: 17px;
        left: 21px;
        top: 48px;
    }
    100% {
        width: 25px;
        left: 14px;
        top: 45px;
    }
}
@keyframes icon-line-long {
    0% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    65% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    84% {
        width: 55px;
        right: 0px;
        top: 35px;
    }
    100% {
        width: 47px;
        right: 8px;
        top: 38px;
    }
}

/**
* Failed checkmark
* https://codemyui.com/ghost-check-mark-close-icon-animation/ 
*/
svg {
    width: 100px;
    display: block;
    margin: 10px auto 0;
}
.path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
}
.path.circle {
    -webkit-animation: dash 0.9s ease-in-out;
    animation: dash 0.9s ease-in-out;
}
.path.line {
    stroke-dashoffset: 1000;
    -webkit-animation: dash 0.9s 0.35s ease-in-out forwards;
    animation: dash 0.9s 0.35s ease-in-out forwards;
}

@-webkit-keyframes dash {
    0% {
        stroke-dashoffset: 1000;
    }
    100% {
        stroke-dashoffset: 0;
    }
}
@keyframes dash {
    0% {
        stroke-dashoffset: 1000;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

/*************************/
/* ***** UTILITIES ***** */
/*************************/

.bg-happy-fisher-reverse{
    background-image: linear-gradient(120deg, #66a6ff 0%, #89f7fe 100%) !important;
}

.bg-tempting-azure-reverse {
    background-image: linear-gradient(120deg, #8fd3f4 0%, #84fab0 100%) !important;
}

.bg-amy-crisp-reverse {
    background-image: linear-gradient(120deg, #f68084 0%, #a6c0fe 100%) !important;
}

.bg-midnight-bloom-soft{
    background-image: linear-gradient(261deg, #0774bc 0%, #4e4376 100%) !important;
}

.bg-soft-sky{
    background-image: linear-gradient(275deg, #ffffff 0%, #61a0cf 100%) !important;
}

.bg-vicious-stance-soft{
    background-image: linear-gradient(60deg, #29323c59 0%, #48556359 100%) !important;
}

.bg-antique-white{
    background-color: antiquewhite !important;
}

.bg-custom-green{
    background-color: #74d14c !important;
}

.heart {
    font-size: 25px;
    color:red;
}
